/*!
 * Start Bootstrap - Simple Sidebar (http://startbootstrap.com/)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */

body {
    overflow-x: hidden;
}

/* Toggle Styles */

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-left: 250px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    width: 0;
    height: 100%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    background: #333333;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

body *{
    outline: none !important;
}
.master-el{
    color:#fa9200 !important;
}

li a span{
    float: left;
    padding: 0 0 0 10px;
    color:#fa9200 !important;
}
.master-el img{
    float: left;
    padding: 8px 0 0 20px;
}
.inner-ul{
    padding: 10px 15px 10px 0;
    background-color: #4d4d4d;


    display: none;

    transition: visibility 0s, opacity 0.5s linear;
}



.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 27px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #fff;
}

.sidebar-nav li a:hover1 {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
    height: auto;
    text-align: center;
    color: #fff;
    margin: 0;
    padding: 12px 0 0 0 !important;
    line-height: 17px !important;

}
.hr1{
    margin: 15px 15px;
    border-color: #000;
    border-width: 2px;
}









#admin-header{
    background-color:#0DAFFA; height:60px; margin-bottom:15px;
    position: relative;
}
#admin-header a.exit-link img{
    float: left;
    height: 100%;
    padding: 18px;
    background-color: #0C7EAD;
}
.dash-row1-sec1{
    background-color: #0DAFFA;
    font-size: 30px;
    color: #fff;
    text-align: center;
    height: 60px;
    width: 60px;
    padding-top: 6px;
}
#dashboard-cont .row{
    margin: 0 !important;
}
.dash-paid-amount{
    font-size:24px !important;
}


.dash-row1-sec2{
    padding-right: 15px;
    font-size: 20px;
    color: #4d4d4d;
    text-align: center;
    padding-top: 12px;
}
.dash-row2-right-sec1{
    height: 150px;
    font-size: 40px;
    color: #0C7EAD;
    text-align: center;
    padding-top: 50px;
}

.dash-row3-right-sec1{
    height: 150px;
    font-size: 40px;
    color: #0C7EAD;
    text-align: center;
    padding-top: 50px;
}


.dash-row2-right-sec2{
    font-size: 18px;
    color:#fff;
    background-color: #0DAFFA;
    text-align: center;
    height: 50px;
    padding-top: 12px;
}


.dash-row3-right-sec2{
    font-size: 16px;
    text-align: right;
    height: auto;
    padding-top: 3px;
}

.row3-title1{
    color: #0DAFFA;
}
.row3-title2{
    float: left;
}
.hour-cont{
    height: 60px;
    border: solid 1px #0DAFFA;
    color: #0DAFFA;
    font-size: 35px;
    text-align: center;
    margin-top: 10px;
    padding-top: 4px;
}

.date-cont{
    height: 60px;
    border: solid 1px #fF0000;
    color: #fF0000;
    font-size: 24px;
    text-align: center;
    margin-top: 10px;
    padding-top: 10px;
}

#noteTextArea{
    height: 150px;
}

.dash-row2-left-sec1{
    background-color: #Ff0000;
    font-size: 30px;
    color: #fff;
    text-align: center;
    height: 60px;
    width: 60px;
    padding-top: 6px;
}
.dash-row2-left-sec2{
    padding-right: 15px;
    font-size: 16px;
    color: #4d4d4d;
    text-align: center;
    padding-top: 18px;
}
.out-col{
    padding: 0 !important;
}
.dash-row{
    padding-top: 15px !important;
}
.dash-row2-left-el{
    margin-top: 7px !important;
}
#city_view{
    width: 200px;
    float: left;
    margin: 10px 10px 0 10px;
    border-radius: 8px !important;
    background-color: #0C7EAD;
    color:#fff;
    border: none;
}

#admin-header #amton-logo-cont{
    text-align: center;
    width: 100%;
}
#admin-header #amton-logo-cont img{
    position: absolute;
    height:90%;
    margin-top: 2px;
}
.shop-list-avatar{
    height:35px !important;
    max-width:100px !important;
}
.panel-heading-cs1-title a{
    color:#fff !important;
}

#shop_img_preview , #img_preview, .shop-img-preview-cont img, #car_img_preview, #admin_img_preview{
    height:100px !important;;
}
#side-menu-avatar{
    max-width: 50%;
    max-height: 150px;
    border-radius: 2px !important;
    margin-bottom: 10px;

}
.user-activity-stats-cont{
    padding: 25px;
}

.user-activity-stats-cont > * {
    margin-bottom:15px;
}

.user-activity-stats-cont .dash-row1-sec1 {
    font-size: 25px !important;
    height: 60px !important;
    width: 100px !important;
    padding-top: 12px !important;
}

.user-activity-stats-cont .dash-row1-sec2 {
    font-size: 18px;
    padding-top: 15px !important;
}
.user-activity-tariff-list{
    margin-top: 30px;
}
@media(min-width:768px) {
    #wrapper {
        padding-left: 250px;
    }

    #wrapper.toggled {
        padding-left: 0;
    }

    #sidebar-wrapper {
        width: 250px;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
.panel-body-cs1{
    padding: 0 !important;
    margin: 0 !important;
}
.panel-heading-cs1{
    background-color: #333333;
    color: #fff;
    height: 50px;
    position: relative;
}
.panel-heading-cs1 a,
.panel-heading-cs1 button{
    position: relative;
    z-index: 9999;
}
.btn-back-cs1{
    height: 50px;
    background-color: #0DAFFA;
    color: #fff;
    padding-top: 13px;
    width: 80px;
    font-size: 15px;
}
.btn-back-cs1:focus,
.btn-back-cs1:hover{
    color: #fff;
}
.btn-btn1-cs1{
    height: 50px;
    color: #fff;
    padding-top: 13px;
    background-color: #333333 !important;
    font-size: 15px;
}
.btn-btn1-cs1:hover,
.btn-btn1-cs1:focus{
    color: #fff;
}
button.btn-btn1-cs1{
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.panel-heading-cs1-title{
    text-align: center;
    position: absolute;
    width: 100%;
    font-size: 20px;
    padding-top: 9px;
}
thead *{
    color: #fa9200;
}
.add-data-panel .panel-body{
    padding: 30px !important;
}
.side-el-dash{
    border-bottom: solid 1px #5c5a5a;
    margin-bottom: 10px;
}
.admin-content-cont{
    padding:0 1% 0 1%;
}


body *{
    border-radius:0 !important;
    direction: rtl;
}
a{
    outline: none;
}
.admin-content-sec{
    width: calc(100% - 250px);
    float: left;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
@font-face {
    font-family: 'Yekan';
    src: url('/fonts/Yekan.eot?-wwn5ej');
    src: url('/fonts/Yekan.eot?#iefix-wwn5ej') format('embedded-opentype'),
    url('/fonts/Yekan.woff?-wwn5ej') format('woff'),
    url('/fonts/Yekan.ttf?-wwn5ej') format('truetype'),
    url('/fonts/Yekan.svg?-wwn5ej#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
    font-family: 'Yekan';
    font-size: 15px;
}
textarea{
    resize: none;
}

.checkbox span{
    padding-right: 20px;
}

.form-control{
    box-shadow: unset !important;
}