body *{
  border-radius:0;
  direction: rtl;
  fill: #fff;
}
a{
  outline: none !important;
  background-color: transparent !important;
  text-decoration: none;
}
ol, ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 10px;
}
blockquote, q {
  quotes: none;
}
@font-face {
    font-family: 'Yekan';
    src: url('../fonts/Yekan.eot'); /* IE9 Compat Modes */
    src: url('../fonts/Yekan.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/Yekan.woff') format('woff'), /* Modern Browsers */
         url('../fonts/Yekan.ttf?-wwn5ej')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/Yekan.svg#svgFontName') format('svg'); /* Legacy iOS */
}
@font-face {
    font-family: 'i30ms';
    src: url('../fonts/i30ms.woff'); /* IE9 Compat Modes */
    src: url('../fonts/i30ms.ttf?-wwn5ej') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/i30ms.woff') format('woff');
}
body{
   font-family: 'Yekan','i30ms';
   font-size: 15px;

}
.checkbox span{
  padding-right: 20px;
}
.form-control{
    box-shadow: unset !important;
}
#img_preview{
    max-height: 120px;
}
.list-img{
    max-height: 50px;
}

.box-form {
    border: 2px dashed #878787;
    text-align: center;
    border-radius: 15px;
    padding: 70px 15px;
    margin-bottom: 25px;
}
.box-form p {
    font-weight: 500;
    font-size: 14px;
    color: #878787;
}
.thumbnail{
    height: 100px;
    margin: 10px;
}
#result div{
    float:left;
}
#result{
    display: inline-block;
}
.propRow{
    margin-bottom: 10px;
}