/*
*
*	=========================================================
*	Theme Name: 	Kushop
*	Theme URI: 		http://graphida.ir
*	Author:			@GraphiDA	[ +(98)937-676-4848 ]
*	Description:	Please DON'T COPY Or RIP This Theme.
*	Version:		1.0.0
*	=========================================================
*
*/

* {
	text-decoration: none !important;
	outline: none !important;
}
body {
	background-color: #f9fafb !important;
	padding: 0;
	margin: 0;
	font-family: "sans", Roboto !important;
	direction:rtl;;
	text-align: right !important;
	color: #34495e !important;
}
@font-face {
	font-family: 'sans';
	src: url(../fonts/sans/IRANSans.woff2) format("woff2"), url(../fonts/sans/IRANSans.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'sans';
	src: url(../fonts/sans/IRANSans_Medium.woff2) format("woff2"), url(../fonts/sans/IRANSans_Medium.woff) format("woff");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'sans';
	src: url(../fonts/sans/IRANSans_Bold.woff2) format("woff2"), url(../fonts/sans/IRANSans_Bold.woff) format("woff");
	font-style: normal;
	font-weight: 700;
}

/***********************************************************************************
*	CUSTOM
***********************************************************************************/

/*********************		SELECTION		*********************/
::-moz-selection {
	background: #856071 !important;
	color:#fff !important;
}
::selection {
	background: #856071 !important;
	color: #fff !important;
}

/*********************		SCROLLBAR		*********************/
::-webkit-scrollbar {
	background-color: transparent;
	max-width: 8px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb {
	background-color: #4b2764;
	border-radius: 100px;
}

/*********************		PLACEHOLDER		*********************/
::-moz-placeholder {
    font-size: 13px;
	color: #ecf0f1 !important;
}
::-webkit-input-placeholder {
    font-size: 13px;
	color: #ecf0f1 !important;
}
:-ms-input-placeholder {
    font-size: 13px;
	color: #ecf0f1 !important;
}

/*********************		CUSTOM		*********************/
#graphida ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.mdi:before, .mdi-set {
	line-height: 0 !important;
    top: 2px ;
    position: relative !important;
}



/*********************		FORM		*********************/
#graphida form {
	margin: .5em auto 0;
	display: block;
}
#graphida form .form-group {
	position: relative;
	margin: 0;
}
#graphida form .form-group:last-child input,
#graphida form .form-group:last-child textarea {
	margin: 0;
}
#graphida form .form-group label {
	background-color: #ecf0f1;
    padding: 2px 1em;
	top: -12px;
    right: 12px;
    font-size: 13px;
	color: #856071;
	border-radius: 5px;
	position: absolute;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .form-group input {
	background-color: #FFF;
	padding: 1em 2em .3em .5em;
	margin-bottom: 2em;
	border-radius: 10px !important;
	border: 2px solid #ecf0f1;
	box-shadow: none !important;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .form-group i::before {
	position: absolute !important;
    top: 30px !important;
    right: 12px;
	color: #bdc3c7;
}
#graphida form .form-group input:disabled,
#graphida form .form-group input[readonly],
#graphida form .form-group input:focus {
	border: 2px solid #4b2764;
}#graphida form .form-group input:disabled + label,
#graphida form .form-group input[readonly] + label,
#graphida form .form-group input:focus + label {
	background-color: #4b2764;
	color: #fff;
}
#graphida form .form-group textarea {
	background-color: #FFF;
	padding: 1.5em .5em .5em;
	margin-bottom: 2em;
	font-size: 12px;
	border-radius: 10px !important;
	border: 2px solid #ecf0f1;
	box-shadow: none !important;
	resize: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .form-group textarea:disabled,
#graphida form .form-group textarea[readonly],
#graphida form .form-group textarea:focus {
	border: 2px solid #4b2764;
}
#graphida form .form-group textarea:disabled + label,
#graphida form .form-group textarea[readonly] + label,
#graphida form .form-group textarea:focus + label {
	background-color: #4b2764;
	color: #fff;
}


/*********************		CARDS		*********************/
#graphida .cards {
	background-color: #fff;
	width: 100%;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 10px;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .brdr-cards {
	background-color: transparent;
	width: 100%;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 10px;
	border: 2px dashed #bdc3c7;
}
#graphida  .head-txt,
#graphida  .head-txt p {
	padding: 0;
	margin: 0;
	margin-bottom: 2em;
	display: block;
	text-align: center;
	color: #bdc3c7;
	font-size: 13px;
}



/*********************		MODAL		*********************/
#graphida .modal-backdrop {
	opacity: 0;
}
#graphida .modal .modal-dialog {
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0;
	border-radius: 0;
	position: fixed;
}
#graphida .modal .modal-dialog .modal-content {
	border-radius: 0;
	border: none;
	text-align: center;
	box-shadow: 0 -7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .modal .modal-dialog .modal-content .modal-body .icon {
	width: 60px;
    height: 60px;
    margin: 0 auto 2em;
    border-radius: 100px;
}
#graphida .modal .modal-dialog .modal-content .modal-body .icon i::before {
	font-size: 32px;
    text-align: center;
    display: block;
    padding: 30px 0;
    top: 0;
}
#graphida .modal .modal-dialog .modal-content .modal-body .btn {
	width: 100%;
	display: block;
	box-shadow: none;
	border: none;
}
#graphida .modal .modal-dialog .modal-content .modal-body .btn i::before {
	margin-left: 10px;
}





/*********************		BTNS		*********************/
.btns {
	padding: .3em 1em;
	border-radius: 10px !important;
	text-decoration: none !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
	cursor: pointer;
}


/*********************		NOTIC		*********************/
.notic {
	padding: 1.5em;
	text-align: center;
	color: #fff;
	font-size: 11px;
}
.notic i::before {
    top: 3px;
    margin-left: 10px;
	font-size: 15px;
}
.notic.danger {
	background-color: #e74c3c;
}
.notic.warning {
	background-color: #f1c40f;
}
.notic.success {
	background-color: #3498db;
}





/*********************		COLOR		*********************/
.bg-red {
	background-color: #f44336 !important;
	color: #FFF;
}
.txt-red {
	color: #f44336 !important;
}
.outline-red {
	background-color: transparent !important;
	border: 2px solid #f44336 !important;
	color: #f44336;
}
.outline-red:hover,
.outline-red:active,
.outline-red:focus {
	background-color: #f44336 !important;
	color: #fff;
}
.shadow-red {
	box-shadow: 0 6px 20px -5px rgba(244,67,54,.5) !important;
}
.shadow-ho-red:hover,
.shadow-ho-red:active,
.shadow-ho-red:focus {
	box-shadow: 0 6px 20px -5px rgba(244,67,54,.5) !important;
}

.bg-pink {
	background-color: #E91E63 !important;
	color: #FFF;
}
.txt-pink {
	color: #E91E63 !important;
}
.outline-pink {
	background-color: transparent !important;
	border: 2px solid #E91E63 !important;
	color: #E91E63;
}
.outline-pink:hover,
.outline-pink:active,
.outline-pink:focus {
	background-color: #E91E63 !important;
	color: #FFF;
}
.shadow-pink {
	box-shadow: 0 6px 20px -5px rgba(233,30,99,.5) !important;
}
.shadow-ho-pink:hover,
.shadow-ho-pink:active,
.shadow-ho-pink:focus {
	box-shadow: 0 6px 20px -5px rgba(233,30,99,.5) !important;
}

.bg-purple {
	background-color: #9C27B0 !important;
	color: #FFF;
}
.txt-purple {
	color: #9C27B0 !important;
}
.outline-purple {
	background-color: transparent !important;
	border: 2px solid #9C27B0 !important;
	color: #9C27B0;
}
.outline-purple:hover,
.outline-purple:active,
.outline-purple:focus {
	background-color: #9C27B0 !important;
	color: #FFF;
}
.shadow-purple {
	box-shadow: 0 6px 20px -5px rgba(156,39,176,.5) !important;
}
.shadow-ho-purple:hover,
.shadow-ho-purple:active,
.shadow-ho-purple:focus {
	box-shadow: 0 6px 20px -5px rgba(156,39,176,.5) !important;
}

.bg-deep-purple {
	background-color: #673AB7 !important;
	color: #FFF;
}
.txt-deep-purple {
	color: #673AB7 !important;
}
.outline-deep-purple {
	background-color: transparent !important;
	border: 2px solid #673AB7 !important;
	color: #673AB7;
}
.outline-deep-purple:hover,
.outline-deep-purple:active,
.outline-deep-purple:focus {
	background-color: #673AB7 !important;
	color: #FFF;
}
.shadow-deep-purple {
	box-shadow: 0 6px 20px -5px rgba(103,58,183,.5) !important;
}
.shadow-ho-deep-purple:hover,
.shadow-ho-deep-purple:active,
.shadow-ho-deep-purple:focus {
	box-shadow: 0 6px 20px -5px rgba(103,58,183,.5) !important;
}

.bg-blue {
	background-color: #2196F3 !important;
	color: #FFF;
}
.txt-blue {
	color: #2196F3 !important;
}
.outline-blue {
	background-color: transparent !important;
	border: 2px solid #2196F3 !important;
	color: #2196F3;
}
.outline-blue:hover,
.outline-blue:active,
.outline-blue:focus {
	background-color: #2196F3 !important;
	color: #FFF;
}
.shadow-blue {
	box-shadow: 0 6px 20px -5px rgba(33,150,243,.5) !important;
}
.shadow-ho-blue:hover,
.shadow-ho-blue:active,
.shadow-ho-blue:focus {
	box-shadow: 0 6px 20px -5px rgba(33,150,243,.5) !important;
}

.bg-light-blue {
	background-color: #03A9F4 !important;
	color: #FFF;
}
.txt-light-blue {
	color: #03A9F4 !important;
}
.outline-light-blue {
	background-color: transparent !important;
	border: 2px solid #03A9F4 !important;
	color: #03A9F4;
}
.outline-light-blue:hover,
.outline-light-blue:active,
.outline-light-blue:focus {
	background-color: #03A9F4 !important;
	color: #FFF;
}
.shadow-light-blue {
	box-shadow: 0 6px 20px -5px rgba(3,169,244,.5) !important;
}
.shadow-ho-light-blue:hover,
.shadow-ho-light-blue:active,
.shadow-ho-light-blue:focus {
	box-shadow: 0 6px 20px -5px rgba(3,169,244,.5) !important;
}

.bg-deep-blue {
	background-color: #3F51B5 !important;
	color: #FFF;
}
.txt-deep-blue {
	color: #3F51B5 !important;
}
.outline-deep-blue {
	background-color: transparent !important;
	border: 2px solid #3F51B5 !important;
	color: #3F51B5;
}
.outline-deep-blue:hover,
.outline-deep-blue:active,
.outline-deep-blue:focus {
	background-color: #3F51B5 !important;
	color: #FFF;
}
.shadow-deep-blue {
	box-shadow: 0 6px 20px -5px rgba(63,81,181,.5) !important;
}
.shadow-ho-deep-blue:hover,
.shadow-ho-deep-blue:active,
.shadow-ho-deep-blue:focus {
	box-shadow: 0 6px 20px -5px rgba(63,81,181,.5) !important;
}

.bg-cyan {
	background-color: #00BCD4 !important;
	color: #FFF;
}
.txt-cyan {
	color: #00BCD4 !important;
}
.outline-cyan {
	background-color: transparent !important;
	border: 2px solid #00BCD4 !important;
	color: #00BCD4;
}
.outline-cyan:hover,
.outline-cyan:active,
.outline-cyan:focus {
	background-color: #00BCD4 !important;
	color: #FFF;
}
.shadow-cyan {
	box-shadow: 0 6px 20px -5px rgba(0,188,212,.5) !important;
}
.shadow-ho-cyan:hover,
.shadow-ho-cyan:active,
.shadow-ho-cyan:focus {
	box-shadow: 0 6px 20px -5px rgba(0,188,212,.5) !important;
}

.bg-teal {
	background-color: #009688 !important;
	color: #FFF;
}
.txt-teal {
	color: #009688 !important;
}
.outline-teal {
	background-color: transparent !important;
	border: 2px solid #009688 !important;
	color: #009688;
}
.outline-teal:hover,
.outline-teal:active,
.outline-teal:focus {
	background-color: #009688 !important;
	color: #FFF;
}
.shadow-teal {
	box-shadow: 0 6px 20px -5px rgba(0,150,136,.5) !important;
}
.shadow-ho-teal:hover,
.shadow-ho-teal:active,
.shadow-ho-teal:focus {
	box-shadow: 0 6px 20px -5px rgba(0,150,136,.5) !important;
}

.bg-green {
	background-color: #4CAF50 !important;
	color: #FFF;
}
.txt-green {
	color: #4CAF50 !important;
}
.outline-green {
	background-color: transparent !important;
	border: 2px solid #4CAF50 !important;
	color: #4CAF50;
}
.outline-green:hover,
.outline-green:active,
.outline-green:focus {
	background-color: #4CAF50 !important;
	color: #FFF;
}
.shadow-green {
	box-shadow: 0 6px 20px -5px rgba(76,175,80,.5) !important;
}
.shadow-ho-green:hover,
.shadow-ho-green:active,
.shadow-ho-green:focus {
	box-shadow: 0 6px 20px -5px rgba(76,175,80,.5) !important;
}

.bg-light-green {
	background-color: #8BC34A !important;
	color: #FFF;
}
.txt-light-green {
	color: #8BC34A !important;
}
.outline-light-green {
	background-color: transparent !important;
	border: 2px solid #8BC34A !important;
	color: #8BC34A;
}
.outline-light-green:hover,
.outline-light-green:active,
.outline-light-green:focus {
	background-color: #8BC34A !important;
	color: #FFF;
}
.shadow-light-green {
	box-shadow: 0 6px 20px -5px rgba(139,195,74,.5) !important;
}
.shadow-ho-light-green:hover,
.shadow-ho-light-green:active,
.shadow-ho-light-green:focus {
	box-shadow: 0 6px 20px -5px rgba(139,195,74,.5) !important;
}

.bg-lime {
	background-color: #CDDC39 !important;
	color: #FFF;
}
.txt-lime {
	color: #CDDC39 !important;
}
.outline-lime {
	background-color: transparent !important;
	border: 2px solid #CDDC39 !important;
	color: #CDDC39;
}
.outline-lime:hover,
.outline-lime:active,
.outline-lime:focus {
	background-color: #CDDC39 !important;
	color: #FFF;
}
.shadow-lime {
	box-shadow: 0 6px 20px -5px rgba(205,220,57,.5) !important;
}
.shadow-ho-lime:hover,
.shadow-ho-lime:active,
.shadow-ho-lime:focus {
	box-shadow: 0 6px 20px -5px rgba(205,220,57,.5) !important;
}

.bg-yellow {
	background-color: #FFEB3B !important;
	color: #FFF;
}
.txt-yellow {
	color: #FFEB3B !important;
}
.outline-yellow {
	background-color: transparent !important;
	border: 2px solid #FFEB3B !important;
	color: #FFEB3B;
}
.outline-yellow:hover,
.outline-yellow:active,
.outline-yellow:focus {
	background-color: #FFEB3B !important;
	color: #FFF;
}
.shadow-yellow {
	box-shadow: 0 6px 20px -5px rgba(255,235,59,.5) !important;
}
.shadow-ho-yellow:hover,
.shadow-ho-yellow:active,
.shadow-ho-yellow:focus {
	box-shadow: 0 6px 20px -5px rgba(255,235,59,.5) !important;
}

.bg-amber {
	background-color: #FFC107 !important;
	color: #FFF;
}
.txt-amber {
	color: #FFC107 !important;
}
.outline-amber {
	background-color: transparent !important;
	border: 2px solid #FFC107 !important;
	color: #FFC107;
}
.outline-amber:hover,
.outline-amber:active,
.outline-amber:focus {
	background-color: #FFC107 !important;
	color: #FFF;
}
.shadow-amber {
	box-shadow: 0 6px 20px -5px rgba(255,193,7,.5) !important;
}
.shadow-ho-amber:hover,
.shadow-ho-amber:active,
.shadow-ho-amber:focus {
	box-shadow: 0 6px 20px -5px rgba(255,193,7,.5) !important;
}

.bg-orange {
	background-color: #FF9800 !important;
	color: #FFF;
}
.txt-orange {
	color: #FF9800 !important;
}
.outline-orange {
	background-color: transparent !important;
	border: 2px solid #FF9800 !important;
	color: #FF9800;
}
.outline-orange:hover,
.outline-orange:active,
.outline-orange:focus {
	background-color: #FF9800 !important;
	color: #FFF;
}
.shadow-orange {
	box-shadow: 0 6px 20px -5px rgba(255,152,0,.5) !important;
}
.shadow-ho-orange:hover,
.shadow-ho-orange:active,
.shadow-ho-orange:focus {
	box-shadow: 0 6px 20px -5px rgba(255,152,0,.5) !important;
}

.bg-deep-orange {
	background-color: #FF5722 !important;
	color: #FFF;
}
.txt-deep-orange {
	color: #FF5722 !important;
}
.outline-deep-orange {
	background-color: transparent !important;
	border: 2px solid #FF5722 !important;
	color: #FF5722;
}
.outline-deep-orange:hover,
.outline-deep-orange:active,
.outline-deep-orange:focus {
	background-color: #FF5722 !important;
	color: #FFF;
}
.shadow-deep-orange {
	box-shadow: 0 6px 20px -5px rgba(255,87,34,.5) !important;
}
.shadow-ho-deep-orange:hover,
.shadow-ho-deep-orange:active,
.shadow-ho-deep-orange:focus {
	box-shadow: 0 6px 20px -5px rgba(255,87,34,.5) !important;
}

.bg-brown {
	background-color: #795548 !important;
	color: #FFF;
}
.txt-brown {
	color: #795548 !important;
}
.outline-brown {
	background-color: transparent !important;
	border: 2px solid #795548 !important;
	color: #795548;
}
.outline-brown:hover,
.outline-brown:active,
.outline-brown:focus {
	background-color: #795548 !important;
	color: #FFF;
}
.shadow-brown {
	box-shadow: 0 6px 20px -5px rgba(121,85,72,.5) !important;
}
.shadow-ho-brown:hover,
.shadow-ho-brown:active,
.shadow-ho-brown:focus {
	box-shadow: 0 6px 20px -5px rgba(121,85,72,.5) !important;
}

.bg-asphalt {
	background-color: #34495E !important;
	color: #FFF;
}
.txt-asphalt {
	color: #34495E !important;
}
.outline-asphalt {
	background-color: transparent !important;
	border: 2px solid #34495E !important;
	color: #34495E;
}
.outline-asphalt:hover,
.outline-asphalt:active,
.outline-asphalt:focus {
	background-color: #34495E !important;
	color: #FFF;
}
.shadow-asphalt {
	box-shadow: 0 6px 20px -5px rgba(52,73,94,.5) !important;
}
.shadow-ho-asphalt:hover,
.shadow-ho-asphalt:active,
.shadow-ho-asphalt:focus {
	box-shadow: 0 6px 20px -5px rgba(52,73,94,.5) !important;
}

.bg-gold {
	background-color: #b59e5b !important;
	color: #FFF;
}
.txt-gold {
	color: #b59e5b !important;
}
.outline-gold {
	background-color: transparent !important;
	border: 2px solid #b59e5b !important;
	color: #b59e5b;
}
.outline-gold:hover,
.outline-gold:active,
.outline-gold:focus {
	background-color: #b59e5b !important;
	color: #FFF;
}
.shadow-gold {
	box-shadow: 0 6px 20px -5px rgba(181,158,91,.5) !important;
}
.shadow-ho-gold:hover,
.shadow-ho-gold:active,
.shadow-ho-gold:focus {
	box-shadow: 0 6px 20px -5px rgba(181,158,91,.5) !important;
}

.bg-grey-1 {
	background-color: #ECF0F1 !important;
	color: #95a5a6;
}
.txt-grey-1 {
	color: #ECF0F1 !important;
}
.outline-grey-1 {
	background-color: transparent !important;
	border: 2px solid #ECF0F1 !important;
	color: #ECF0F1;
}
.outline-grey-1:hover,
.outline-grey-1:active,
.outline-grey-1:focus {
	background-color: #ECF0F1 !important;
	color: #FFF;
}
.shadow-grey-1 {
	box-shadow: 0 6px 20px -5px rgba(236,240,241,.5) !important;
}
.shadow-ho-grey-1:hover,
.shadow-ho-grey-1:active,
.shadow-ho-grey-1:focus {
	box-shadow: 0 6px 20px -5px rgba(236,240,241,.5) !important;
}

.bg-grey-2 {
	background-color: #BDC3C7 !important;
	color: #FFF;
}
.txt-grey-2 {
	color: #BDC3C7 !important;
}
.outline-grey-2 {
	background-color: transparent !important;
	border: 2px solid #BDC3C7 !important;
	color: #BDC3C7;
}
.outline-grey-2:hover,
.outline-grey-2:active,
.outline-grey-2:focus {
	background-color: #BDC3C7 !important;
	color: #FFF;
}
.shadow-grey-2 {
	box-shadow: 0 6px 20px -5px rgba(189,195,199,.5) !important;
}
.shadow-ho-grey-2:hover,
.shadow-ho-grey-2:active,
.shadow-ho-grey-2:focus {
	box-shadow: 0 6px 20px -5px rgba(189,195,199,.5) !important;
}

.bg-grey-3 {
	background-color: #95A5A6 !important;
	color: #FFF;
}
.txt-grey-3 {
	color: #95A5A6 !important;
}
.outline-grey-3 {
	background-color: transparent !important;
	border: 2px solid #95A5A6 !important;
	color: #95A5A6;
}
.outline-grey-3:hover,
.outline-grey-3:active,
.outline-grey-3:focus {
	background-color: #95A5A6 !important;
	color: #FFF;
}
.shadow-grey-3 {
	box-shadow: 0 6px 20px -5px rgba(149,165,166,.5) !important;
}
.shadow-ho-grey-3:hover,
.shadow-ho-grey-3:active,
.shadow-ho-grey-3:focus {
	box-shadow: 0 6px 20px -5px rgba(149,165,166,.5) !important;
}

.bg-grey-4 {
	background-color: #7F8C8D !important;
	color: #FFF;
}
.txt-grey-4 {
	color: #7F8C8D !important;
}
.outline-grey-4 {
	background-color: transparent !important;
	border: 2px solid #7F8C8D !important;
	color: #7F8C8D;
}
.outline-grey-4:hover,
.outline-grey-4:active,
.outline-grey-4:focus {
	background-color: #7F8C8D !important;
	color: #FFF;
}
.shadow-grey-4 {
	box-shadow: 0 6px 20px -5px rgba(127,140,141,.5) !important;
}
.shadow-ho-grey-4:hover,
.shadow-ho-grey-4:active,
.shadow-ho-grey-4:focus {
	box-shadow: 0 6px 20px -5px rgba(127,140,141,.5) !important;
}

.bg-kushop {
	background: -moz-linear-gradient(45deg, #4b2764 0%, #856071 100%) !important;
	background: -webkit-linear-gradient(45deg, #4b2764 0%,#856071 100%) !important;
	background: linear-gradient(45deg, #4b2764 0%,#856071 100%) !important;
	color: #FFF;
}
.bg-deep-kushop {
	background-color: #4b2764 !important;
	color: #FFF;
}
.bg-light-kushop {
	background-color: #856071 !important;
	color: #FFF;
}
.txt-deep-kushop {
	color: #4b2764 !important;
}
.txt-light-kushop {
	color: #856071 !important;
}
.outline-kushop {
	background-color: transparent !important;
	border: 2px solid #4b2764 !important;
	color: #856071;
}
.outline-kushop:hover,
.outline-kushop:active,
.outline-kushop:focus {
	background-color: #4b2764 !important;
	color: #FFF;
}
.shadow-kushop {
	box-shadow: 0 6px 20px -5px rgba(75,39,100,.5) !important;
}
.shadow-ho-kushop:hover,
.shadow-ho-kushop:active,
.shadow-ho-kushop:focus {
	box-shadow: 0 6px 20px -5px rgba(75,39,100,.5) !important;
}



/***********************************************************************************
*	INDEX
***********************************************************************************/
.wrapper {
    display: flex;
    align-items: stretch;
}

/*********************		SIDEBAR		*********************/
#sidebar {
	background-color: #FFF;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
    right: 0;
	direction: ltr;
}
.overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 998;
}
#sidebar .sidebar-header {
	background: #4b2764 url(../img/bg-mnu.jpg) 40% no-repeat;
	background-size: cover;
    padding: 1em 0;
	border-radius: 0 0 300% 300% / 0 0 60% 60%;
}
#sidebar .sidebar-header .logo {
	width: 100px;
	display: block;
	margin: 1em auto;
	border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    overflow: hidden;
}
#sidebar .sidebar-header .logo img {
	width: 100%;
}
#sidebar .sidebar-header span {
	text-align: center;
}
#sidebar .sidebar-header span p {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 13px;
	color:#ecf0f1;
}
#sidebar .sidebar-header span p:first-child {
	font-weight: bold;
	font-size: 18px;
	color:#FFF;
}
#sidebar .sidebar-header span p:last-child {
	direction: ltr;
}
#sidebar ul.components {
	background-color: #FFF;
    padding: 20px 0;
	direction: rtl;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 1em 1.5em;
    display: block;
	color: #aaaaaa;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a i.icon-itm::before{
	margin-left: 1em;
	color: #7f8c8d;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a:hover i.icon-itm::before,
#sidebar ul li.active i.icon-itm::before,
#sidebar ul li a[aria-expanded="true"] i.icon-itm::before{
	color: #856071;
}
#sidebar ul li a:hover,
#sidebar ul li.active > a,
#sidebar ul li a[aria-expanded="true"] {
    background-color: #fbfbfb;
    padding-right: 2em !important;
    color: #4b2764;
}
#sidebar ul li a[data-toggle="collapse"] {
    position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a[aria-expanded="false"]::before,
#sidebar ul li a[aria-expanded="true"]::before {
    content: '\F140';
    display: block;
    position: absolute;
    left: 20px;
    font-family: 'Material Design Icons';
    font-size: 18px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a[aria-expanded="true"]::before {
	transform: rotate(180deg);
}

#sidebar ul li > ul li a {
    background-color: #fbfbfb !important;
    padding-right: 2em !important;
	font-weight: normal !important;
}
#sidebar ul li > ul li a:hover,
#sidebar ul li > ul li a.active,
#sidebar ul li > ul li a[aria-expanded="true"] {
    background-color: #f0f0f0 !important;
    padding-right: 2.5em !important;
    color: #4b2764 !important;
}



/*********************		CONTENT		*********************/
#content {
	background-color: #f9fafb;
	width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
	z-index: 10;
}

/*********************		NAVBAR		*********************/
.navbar {
    background: #fff;
    padding: 2em 1em 1em !important;
	margin: 0;
	border: none;
	border-radius: 0;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
	z-index: 100;
}
.navbar .navbar-btn {
	background-color: transparent;
	padding: 0;
	margin: 0;
	color: #95a5a6;
    box-shadow: none;
    outline: none !important;
    border: none;
}
.navbar .navbar-btn i::before {
	top: 5px !important;
	margin-left: 15px;
	font-size: 25px;
	position: relative;
}
.navbar .mnu-left-head ul {
    padding:0;
    margin:0;
    list-style-type: none;
}
.navbar .mnu-left-head ul li {
    float: left;
    margin-right: 2em;
}
.navbar .mnu-left-head ul li:last-child {
    margin: 0;
}
.navbar .mnu-left-head ul li a {
    color: #95a5a6;
    position: relative;
}
.navbar .mnu-left-head ul li a span {
    top: -10px;
    right: -10px;
    padding: 4px 6px 2px;
    border: 2px solid #fff;
    font-size: 9px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    position: absolute;
}
.navbar .mnu-left-head ul li a i::before {
    top: 5px !important;
    font-size: 25px;
    position: relative;
}
.navbar .navbar-tab {
	width: 100%;
    display: block;
    margin-top: 2em;
}
.navbar .navbar-tab p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	color: #4b2764;
	text-align: center;
}
.navbar .navbar-tab .nav-tabs {
	border: none;
}
.navbar .navbar-tab .nav-tabs .nav-item .nav-link {
	border: none;
	color: #856071;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
.navbar .navbar-tab .nav-tabs .nav-item .nav-link:first-child {
	margin-left: 10px;
}
.navbar .navbar-tab .nav-tabs .nav-item.show .nav-link,
.navbar .navbar-tab .nav-tabs .nav-link.active {
	background-color: #856071;
	color: #fff;
	border: none;
	border-radius: 100px;
}

.navbar .navbar-tab .market-pro {
	margin-top: .5em;
}
.navbar .navbar-tab .market-pro .logo {
	background-color: #e8f1f5;
	width: 100%;
	border-radius: 15px;
	overflow: hidden;
}
.navbar .navbar-tab .market-pro .logo img {
	width: 100%;
}
.navbar .navbar-tab .market-pro span {
	width: 100%;
	display: block;
	padding: 9px 0;
	color: #bdc3c7;
	font-size: 12px;
}
.navbar .navbar-tab .market-pro span i::before {
	margin-left: 5px;
	color: #95a5a6;
	font-size: 14px;
}
.navbar .navbar-tab .market-pro .item-adrs {
	display: block;
	text-align: center;
}
.navbar .navbar-tab .market-pro .btns-tab {
	margin-top: 1em;
	text-align: center;
}
.navbar .navbar-tab .market-pro .btns-tab a {
	background-color: #FFF;
	width: 40px;
	height: 40px;
	padding: 0;
	margin: 0 auto;
	border: 2px solid #ecf0f1;
	color: #bdc3c7;
	border-radius: 100%;
	box-shadow: none;
}
.navbar .navbar-tab .market-pro .btns-tab a i::before {
	top: 0;
	padding: 18px 0;
    font-size: 20px;
}





/***********************************************************************************
*	HOME
***********************************************************************************/

/*********************		NAVBAR		*********************/
#graphida .carousel {
	margin-bottom: 2em;
}
#graphida .carousel .carousel-indicators {
    bottom: -20px;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 0;
}
#graphida .carousel .carousel-indicators li {
    background-color: #dddddd;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
#graphida .carousel .carousel-indicators li.active {
    background-color: #4b2764;
    width: 30px;
}

/*********************		CATEGORY-INLINE		*********************/
#graphida .category-inline {
	margin: 3em 0 2em;
}
#graphida .category-inline ul {
	width: 100%;
	padding: 2em 0;
    overflow-x: auto;
    white-space: nowrap;
	display: inline-block;
}
#graphida .category-inline ul::-webkit-scrollbar {
	display: none !important;
}
#graphida .category-inline ul li {
	display: inline-block;
	margin-left: 1em;
}
#graphida .category-inline ul li:first-child {
	margin-right: 1em;
}
#graphida .category-inline ul li a {
	background-color: #ecf0f1;
	width: 150px;
	display: block;
	padding: 15px;
	border-radius: 15px;
}
#graphida .category-inline ul li a span {
	display: block;
	margin: 0 auto;
	text-align: center;
}
#graphida .category-inline ul li a span.icon {
	width: 70px;
	height: 70px;
	margin-bottom: 2em;
	border-radius: 100%;
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
}
#graphida .category-inline ul li a span.title {
	margin-bottom: 5px;
	font-weight: 500;
}
#graphida .category-inline ul li a span i::before {
    display: block;
    padding: 33px 0;
	font-size: 32px;
    text-align: center;
}

/*********************		 ITEM-INLINE		*********************/
#graphida .item-inline {
	margin-bottom: 2em;
}
#graphida .item-inline .head-item-inline h3 {
	padding: 0 1em 0 0;
	margin: 0;
	font-size: 20px;
}
#graphida .item-inline ul {
	width: 100%;
	padding: 2em 0;
    overflow-x: auto;
    white-space: nowrap;
	display: inline-block;
}
#graphida .item-inline ul::-webkit-scrollbar {
	display: none !important;
}
#graphida .item-inline ul li {
	display: inline-block;
	margin-left: 2em;
}
#graphida .item-inline ul li:first-child {
	margin-right: 2em;
}
#graphida .item-inline ul li a {
	width: 180px;
	display: block;
	padding: 15px;
	position: relative;
	border-radius: 15px;
}
#graphida .item-inline ul li a span.off {
    width: 30px;
    height: 30px;
	top: 10px;
    left: 10px;
    padding: 9px 0;
    font-size: 10px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
}
#graphida .item-inline ul li a span,
#graphida .item-inline ul li a h2 {
	display: block;
	margin: 0 auto;
}
#graphida .item-inline ul li a span.thumb {
	width: 100%;
	margin-bottom: 1em;
	overflow: hidden;
}
#graphida .item-inline ul li a span.thumb img {
	margin: 0 auto;
    display: block;
}
#graphida .item-inline ul li a h2.title {
	padding: 0;
	margin-bottom: 1em;
	font-size: 13px;
	font-weight: 500;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
#graphida .item-inline ul li a span.price-line {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
	text-decoration-line: line-through !important;
	text-decoration-color: #e74c3c !important;
}
#graphida .item-inline ul li a span.price-line {
	width: 100%;
	height: 20px;
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
	text-decoration-line: line-through !important;
	text-decoration-color: #e74c3c !important;
}
#graphida .item-inline ul li a span.price-line p {
	padding: 0;
	margin: 0;
}
#graphida .item-inline ul li a span.price {
    padding: 7px 0;
	text-align: center;
	border-radius: 100px;
}
#graphida .item-inline ul li a span.price p {
	padding: 0;
	margin: 0;
	font-size: 10px;
}


/***********************************************************************************
*	CATEGORY-GRID
***********************************************************************************/
#graphida .category-grid {
	margin: 3em 0 2em;
}
#graphida .category-grid ul {
	width: 100%;
	padding: 2em 0;
}
#graphida .category-grid ul li {
	margin-bottom: 1em;
}
#graphida .category-grid ul li a {
	background-color: #ecf0f1;
	display: block;
	padding: 15px;
	border-radius: 15px;
}
#graphida .category-grid ul li a span {
	display: block;
	margin: 0 auto;
	text-align: center;
}
#graphida .category-grid ul li a span.icon {
	width: 70px;
	height: 70px;
	margin-bottom: 2em;
	border-radius: 100%;
	box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.15);
}
#graphida .category-grid ul li a span.title {
	margin-bottom: 5px;
	font-weight: 500;
}
#graphida .category-grid ul li a span i::before {
    display: block;
    padding: 33px 0;
	font-size: 32px;
    text-align: center;
}

/***********************************************************************************
*	CATEGORY-LIST
***********************************************************************************/
#graphida .filter-list-view {
	top: 0;
	padding: 5px 0;
}
#graphida .filter-list-view .nice-select {
	background-color: transparent;
    border: none;
    box-shadow: none;
    color: #fff;
}
#graphida .filter-list-view .nice-select:after {
    border-bottom: 2px solid #FFF;
    border-right: 2px solid #FFF;
}


#graphida .filter-list-view .nice-select .list {
	margin: 5px;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.1);
}
#graphida .filter-list-view .nice-select .list li:first-child{
	background-color: transparent;
    margin-bottom: 10px;
    text-align: center;
    color: #999;
    cursor: default;
    font-weight: normal;
}
#graphida .filter-list-view .nice-select .option {
	padding: 3px 10px;
	color: #7f8c8d;
}
#graphida .filter-list-view .nice-select .option:hover,
#graphida .filter-list-view .nice-select .option.focus,
#graphida .filter-list-view .nice-select.option.selected.focus {
	background-color: #fbfbfb;
	padding: 3px 15px 3px 10px;
	color: #4b2764;
}



/*********************		 ITEM		*********************/
#graphida .card-item {
	display: block;
	margin: 0 0 1.5em 0;
	padding: 15px;
	border-radius: 15px;
	position: relative;
}
#graphida .card-item span.off {
    width: 30px;
    height: 30px;
	top: 10px;
    left: 10px;
    padding: 9px 0;
    font-size: 10px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
}
#graphida .card-item span,
#graphida .card-item h2 {
	display: block;
	margin: 0 auto;
}
#graphida .card-item span.thumb {
	width: 100%;
	margin-bottom: 1em;
	overflow: hidden;
}
#graphida .card-item span.thumb img {
	margin: 0 auto;
    display: block;
}
#graphida .card-item h2.title {
	padding: 0;
	margin-bottom: 1em;
	font-size: 13px;
	font-weight: 500;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
#graphida .card-item span.price-line {
	width: 100%;
	height: 20px;
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
	text-decoration-line: line-through !important;
	text-decoration-color: #e74c3c !important;
}
#graphida .card-item span.price-line p {
	padding: 0;
	margin: 0;
}
#graphida .card-item span.price {
    padding: 7px 0;
	text-align: center;
	border-radius: 100px;
}
#graphida .card-item span.price p {
	padding: 0;
	margin: 0;
	font-size: 10px;
}


/*********************		 MARKET		*********************/
#graphida .card-market {
	display: block;
	margin: 0 0 1.5em 0;
	padding: 1em;
	border-radius: 15px;
	position: relative;
}
#graphida .card-market span,
#graphida .card-market h2 {
	display: block;
	margin: 0 auto;
}
#graphida .card-market span.thumb {
    width: 120px;
    height: 100px;
	display: block;
    float: right;
	margin-left: 1em;
	border-radius: 10px;
	overflow: hidden;
}
#graphida .card-market img {
	width: 100%;
    height: 100px;
    margin: 0 auto;
}
#graphida .card-market h1.title {
	padding: 0;
	margin: 10px 0 1em 0;
	font-size: 14px;
	font-weight: 500;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
#graphida .card-market span.num-item {
	font-size: 12px;
}
#graphida .card-market span.num-item i::before {
	font-size: 16px;
	margin-left: 10px;
}
#graphida .card-market span.star-item {
	margin-top: 1em;
}
#graphida .card-market span.star-item i::before {
	font-size: 24px;
	color: #f1c40f;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}




/***********************************************************************************
*	ITEM-DETAIL
***********************************************************************************/
#graphida .item-detail {
	margin-bottom: 2em;
}
#graphida .item-detail .item-tumb {
	background-color: #FFF;
	padding-bottom: 1em;
}
#graphida .item-detail .item-head {
	background-color: #FFF;
	padding-top: 1em;
	margin-bottom: 1.5em;
	border-top: 2px solid #fafafa;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .item-detail .item-head h1.item-title {
    width: 75%;
    padding: 0;
    margin: 10px 0 1em 0;
    float: right;
    font-size: 17px;
    font-weight: 500;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}
#graphida .item-detail .item-head ul.item-head-btn {
	padding: 10px 0;
	float: left;
}
#graphida .item-detail .item-head ul li {
	float: right;
	margin: 0;
}
#graphida .item-detail .item-head ul li:last-child {
	margin-left: .5em;
	margin-right: 1.3em;
}
#graphida .item-detail .item-head ul li a {
}
#graphida .item-detail .item-head ul li a i::before {
	font-size: 20px;
}

#graphida .item-detail .item-head ul li .dropdown {
}
#graphida .item-detail .item-head ul li .dropdown-toggle::after {
	display: none;
}
#graphida .item-detail .item-head ul li .dropdown button {
	background-color: transparent;
	padding: 0;
	border: none;
	box-shadow: none;
}
#graphida .item-detail .item-head ul li .dropdown button i::before {
	font-size: 20px;
}
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu {
	min-width: 12rem;
	border: none;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.1);
}
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item {
	background-color: #FFF;
	padding: 1em 10px;
	text-align: right;
	color: #7f8c8d;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item i::before {
	margin-left: 1em;
	color: #bdc3c7;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item:focus,
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item.active,
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item:active {
	background-color: #fbfbfb;
	padding: 1em 15px 1em 10px;
	color: #4b2764;
}
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item::focus i::before,
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item.active i::before,
#graphida .item-detail .item-head ul li .dropdown .dropdown-menu a.dropdown-item:active i::before {
	color: #856071;
}
#graphida .item-detail .item-head .comstar {
	display: flex;
}
#graphida .item-detail .item-head .comstar .com {
	font-size: 13px;
	margin-left: 3em;
}
#graphida .item-detail .item-head .comstar .com i::before {
	margin-left: 7px;
	font-size: 15px;
}
#graphida .item-detail .item-head .comstar  .star i::before {
	top: 0;
	font-size: 15px;
	color: #f1c40f;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#graphida .item-detail .item-head .item-btn-action {
	margin: 1.5em 0 0;
}
#graphida .item-detail .item-head .item-btn-action a:hover,
#graphida .item-detail .item-head .item-btn-action a.active,
#graphida .item-detail .item-head .item-btn-action a:focus,
#graphida .item-detail .item-head .item-btn-action a {
	background-color: #fff !important;
	width: 100%;
	margin-bottom: 1em;
	display: block;
	border-radius: 10px;
	color: #bdc3c7;
	box-shadow: none;
}
#graphida .item-detail .item-head .item-btn-action a i::before {
	margin-left: 1em;
	color: #95a5a6;
}
#graphida .item-des {
	background-color: #FFF;
	padding: 1em;
	border-radius: 15px;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .item-des .selecs {
	margin-bottom: 1em;
}
#graphida .item-des .selecs:last-child {
	margin: 0;
}
#graphida .item-des .selecs span.title {
	width: 100%;
	display: block;
	padding: 10px 0;
	color: #bdc3c7;
	font-size: 13px;
}
#graphida .item-des .selecs .nice-select {
	width: 100%;
}
#graphida .item-des .selecs .nice-select .list {
	border: none;
	border-radius: 10px;
	box-shadow: 0px 15px 50px 0px rgba(0, 0, 0, 0.1);
}
#graphida .item-des .selecs .nice-select .list li:first-child{
	background-color: transparent;
    margin-bottom: 10px;
    text-align: center;
    color: #999;
    cursor: default;
    font-weight: normal;
}
#graphida .item-des .selecs .nice-select .option {
	padding: 3px 10px;
	color: #7f8c8d;
}
#graphida .item-des .selecs .nice-select .option:hover,
#graphida .item-des .selecs .nice-select .option.focus,
#graphida .item-des .selecs .nice-select .option.selected.focus {
	background-color: #fbfbfb;
	padding: 3px 15px 3px 10px;
	color: #4b2764;
}
#graphida .item-des .item-txt {
	margin-top: 3em;
    padding-bottom: 1em;
    border-bottom: 2px solid #fafafa;
    color: #bdc3c7;
    font-size: 14px;
    text-align: justify;
}
#graphida .item-des .item-txt #summary p.collapse:not(.show) {
    height: 63px !important;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    font-size: 14px;
    -webkit-box-orient: vertical;
    overflow: hidden;
	position: relative;
}
#graphida .item-des .item-txt #summary p.collapse:not(.show)::before {
	content: '';
    width: 100%;
    height: 63px;
    position: absolute;
    box-shadow: 0 -50px 20px -30px rgba(255,255,255,.8) inset;
}
#graphida .item-des .item-txt #summary p.collapsing {
    min-height: 63px !important;
    font-size: 14px;
}
#graphida .item-des .item-txt #summary p.collapsing::before {
	display: none;
}
#graphida .item-des .item-txt #summary a {
	display: block;
	text-align: center;
	color: #4b2764;
}
#graphida .item-des .item-txt #summary a.collapsed:after {
    content: 'ادامه توضیحات';
}
#graphida .item-des .item-txt #summary a:not(.collapsed):after {
    content: 'بستن توضیحات';
}
#graphida .item-des .item-market-detail {
	margin-top: 2em;
	padding-bottom: 2em;
    border-bottom: 2px solid #fafafa;
}
#graphida .item-des .item-market-detail .lin {
	display: flex;
	margin-bottom: 1em;
}
#graphida .item-des .item-market-detail .lin:last-child {
	margin: 0;
}
#graphida .item-des .item-market-detail .status {
    padding: 2px 0;
	margin-left: 2em;
	color: #bdc3c7;
    font-size: 13px;
	white-space: nowrap;
}
#graphida .item-des .item-market-detail .status i::before {
	top: 3px;
	margin-left: 3px;
    color: #95a5a6;
	font-size: 20px;
}
#graphida .item-des .item-market-detail .status-b a,
#graphida .item-des .item-market-detail .status-b {
	color: #856071;
    font-weight: bold;
    font-size: 14px;
	overflow: hidden;
}
#graphida .item-des .item-market-detail .status-b a img {
	width: 20px;
	height: 20px;
	margin-left: 10px;
}
#graphida .item-des .item-price {
	margin-top: 2em;
}
#graphida .item-des .item-price .quantity {
	display: block;
}
#graphida .item-des .item-price .quantity span.title {
	display: block;
    margin-bottom: 5px;
    color: #bdc3c7;
    font-size: 10px;
    text-align: center;
}
#graphida .item-des .item-price .quantity .num {
	display: flex;
}
#graphida .item-des .item-price .quantity .num input[type=number]::-webkit-inner-spin-button,
#graphida .item-des .item-price .quantity .num input[type=number]::-webkit-outer-spin-button {
	margin: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}
#graphida .item-des .item-price .quantity .num input[type=number] {
	text-align: center;
	color: #bdc3c7;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
#graphida .item-des .item-price .quantity .num input {
	width: 40%;
	height: 40px;
	padding: 0;
	margin: 0;
	display: block;
	border: 1px solid #bdc3c7;
	border-left-width: 0;
	border-right-width: 0;
}
#graphida .item-des .item-price .quantity .num input:focus {
	outline: 0;
}
#graphida .item-des .item-price .quantity .num .quantity-button {
	width: 20px;
	height: 40px;
	color: #333;
	font-size: 13px;
	position: relative;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
#graphida .item-des .item-price .quantity .num .quantity-button:focus,
#graphida .item-des .item-price .quantity .num .quantity-button:hover {
	background-color: #bdc3c7;
}
#graphida .item-des .item-price .quantity .num .quantity-button i::before {
    top: -1px;
    padding: 20px 0;
    font-size: 20px;
	color: #bdc3c7;
    text-align: center;
    display: block;
}
#graphida .item-des .item-price .quantity .num .quantity-button:focus i::before,
#graphida .item-des .item-price .quantity .quantity-button:hover i::before {
	color: #FFF;
}
#graphida .item-des .item-price .quantity .num .quantity-up {
	width: 40px;
	height: 40px;
	border: 1px solid #bdc3c7;
	border-radius: 0 10px 10px 0;
}
#graphida .item-des .item-price .quantity .num .quantity-down {
	width: 40px;
    height: 40px;
	border: 1px solid #bdc3c7;
	border-radius: 10px 0 0 10px;
}
#graphida .item-des .item-price .price {
	display: block;
}
#graphida .item-des .item-price .price span.price-line {
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
	text-decoration-line: line-through !important;
	text-decoration-color: #e74c3c !important;
}
#graphida .item-des .item-price .price span.price-line {
	width: 100%;
	height: 20px;
	display: block;
	margin-bottom: 5px;
	font-size: 12px;
	text-align: center;
	text-decoration-line: line-through !important;
	text-decoration-color: #e74c3c !important;
}
#graphida .item-des .item-price .price span.price-line p {
	padding: 0;
	margin: 0;
}
#graphida .item-des .item-price .price span.price {
	display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-radius: 100px;
}
#graphida .item-des .item-price .price span.price p {
	padding: 0;
	margin: 0 5px 0 0;
    display: inline;
}
#graphida .item-des .item-price .price span.price p {
	padding: 0;
	margin: 0 5px 0 0;
    display: inline;
}
#graphida .item-des .item-cart-btn a {
	width: 100%;
	padding: 10px;
	margin-top: 2em;
	display: block;
	border-radius: 10px;
}



/***********************************************************************************
*	ITEM-TABLE
***********************************************************************************/
#graphida .item-table {
	margin-bottom: 3em;
}
#graphida .item-table ul.spec-list {
	padding: 0;
    margin: 5px 0;
    text-align: right;
}
#graphida .item-table ul.spec-list li {
	padding: 1em 0;
	border-bottom: 1px solid #f0f0f0;
}
#graphida .item-table ul.spec-list li:last-child {
	padding: 1em 0;
	border: none;
}
#graphida .item-table .tab h4.spec-list-title {
    background-color: #e5e5e5;
    width: 100%;
    padding: 15px 0;
    margin: 0;
	color: #856071;
	font-size: 14px;
	text-align: center;
}
#graphida .item-table .tab .technicalspecs-title {
	color: #95a5a6;
	font-size: 13px;
}
#graphida .item-table .tab .technicalspecs-value {
	color: #7f8c8d;
	font-size: 13px;
}



/***********************************************************************************
*	ITEM-COMMENT
***********************************************************************************/
#graphida .item-comment {
}
#graphida .item-comment .point-view {
	background-color: #f0f0f0;
	padding: 1em;
}
#graphida .item-comment .point-view {
	color: #bdc3c7;
}
#graphida .item-comment .point-view .lin {
	margin: .5em 0 2em;
}
#graphida .item-comment .point-view .status {
	width: 100%;
	display: block;
	text-align: right;
}
#graphida .item-comment .point-view .status-b {
	width: 100%;
	display: block;
	text-align: left;
}
#graphida .item-comment .point-view .status,
#graphida .item-comment .point-view .status-b {
	font-size: 13px;
}
#graphida .item-comment .point-view .tot-com,
#graphida .item-comment .point-view .stars {
	width: 100%;
	display: block;
	text-align: center;
}
#graphida .item-comment .point-view .stars i::before {
	top: 0;
	font-size: 28px;
	color: #bdc3c7;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#graphida .item-comment .point-view .tot-com {
	margin-top: 5px;
	color: #bdc3c7;
	font-size: 10px;
}
#graphida .item-comment .point-view .tot-com i::before {
	font-size: 13px;
}
#graphida .item-comment .comments {
	margin-top: 2em;
}
#graphida .item-comment .comments .comments-list {
	width: 100%;
	display: block;
}
#graphida .item-comment .comments .comments-list .comment-container {
	margin-bottom: 2.5em;
}
#graphida .item-comment .comments .comments-list .comment-container:last-child {
	margin-bottom: 10em;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-header {
	margin-bottom: 1em;
	overflow: hidden;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-header .avatar img {
	width: 35px;
	height: 35px;
	margin-left: 1em;
	float: right;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-header .avatar span {
	display: block;
}
#graphida .item-comment .comments .comments-list .comment-container.buyer .user-comment-header .avatar span.user-name {
	color: #856071 !important;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-header .avatar span.user-name {
	margin-bottom: 3px;
	font-size: 13px;
	font-weight: bold;
	color: #7f8c8d;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-header .avatar span.user-date {
	font-size: 9px;
	color: #bdc3c7;
}
#graphida .item-comment .comments .comments-list .comment-container.buyer .user-comment-header .buyer-medal {
	background-color: #856071;
	padding: 10px 0;
	font-size: 10px;
	color: #FFF;
	text-align: center;
	border-radius: 100px;
}
#graphida .item-comment .comments .comments-list .comment-container.buyer .user-comment-header .buyer-medal i::before {
	top: 3px;
	margin-left: 12px;
	font-size: 17px;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-content {
	padding: 1.5em 1em .5em;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-content p {
	padding: 0 0 1.5em 0;
	margin: 0 0 .5em 0;
	font-size: 13px;
	color: #bdc3c7;
	border-bottom: 1px solid #fafafa;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-content .stars {
	padding: .5em 0;
	color: #bdc3c7;
	font-size: 12px;
}
#graphida .item-comment .comments .comments-list .comment-container .user-comment-content .stars i::before {
	top: 3px;
	font-size: 17px;
	color: #f1c40f;
	-webkit-transform: rotateY(180deg);
	-moz-transform: rotateY(180deg);
	transform: rotateY(180deg);
}
#graphida .item-comment .comments .comment-new {
	background-color: #F9FAFB;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1em;
	border-top: 2px solid #f0f0f0;
	position: fixed;
	box-shadow: 0 -7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .item-comment .comments .comment-new input {
	background-color: #ecf0f1;
	padding: 10px;
	border-radius: 10px;
	border: none;
	box-shadow: none;
}
#graphida .item-comment .comments .comment-new input::-moz-placeholder {
    font-size: 13px;
	color: #95a5a6 !important;
}
#graphida .item-comment .comments .comment-new input::-webkit-input-placeholder {
    font-size: 13px;
	color: #95a5a6 !important;
}
#graphida .item-comment .comments .comment-new input:-ms-input-placeholder {
    font-size: 13px;
	color: #95a5a6 !important;
}
#graphida .item-comment .comments .comment-new .dropdown button {
	background-color: #F9FAFB;
	width: 100%;
	padding: 8px;
	border-radius: 10px;
	color: #f1c40f;
	border: 2px solid #f1c40f;
	box-shadow: none;
}
#graphida .item-comment .comments .comment-new .dropdown .dropdown-toggle::after {
	display: none;
}
#graphida .item-comment .comments .comment-new .dropdown button i::before {
    top: 8px;
	font-size: 32px;
}
#graphida .item-comment .comments .comment-new .dropdown .dropdown-menu {
	background-color: #FFF;
	margin-bottom: 1em;
	padding: 1em;
	border: none;
	border-radius: 10px;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .item-comment .comments .comment-new button[type=submit] {
	background-color: transparent;
	width: 100%;
	display: block;
	padding: 8px;
	box-shadow: none;
	border: 2px solid #4b2764;
	border-radius: 10px;
}
#graphida .item-comment .comments .comment-new button[type=submit]:hover,
#graphida .item-comment .comments .comment-new button[type=submit]:focus {
	background-color: #4b2764;
}
#graphida .item-comment .comments .comment-new button[type=submit] i::before {
    top: 6px;
	font-size: 24px;
	color: #4b2764;
}
#graphida .item-comment .comments .comment-new button[type=submit]:hover i::before,
#graphida .item-comment .comments .comment-new button[type=submit]:focus i::before {
	color: #FFF;
}




/***********************************************************************************
*	CART
***********************************************************************************/
#graphida .cart {
	margin-top: 2em;
}
#graphida .cart .item-dev .check-item-dev {
	width: 100%;
	display: block;
	padding: 10px 0;
	border-radius: 10px;
	border: 2px solid #ecf0f1;
	box-shadow: none;
	overflow: hidden;
}
#graphida .cart .item-dev .check-item-dev.focus,
#graphida .cart .item-dev .check-item-dev.active {
	border: 2px solid #856071;
}
#graphida .cart .item-dev .check-item-dev span {
	width: 100%;
	display: block;
	text-align: center;
	color: #bdc3c7;
}
#graphida .cart .item-dev .check-item-dev span.title-dev {
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: bold;
}
#graphida .cart .item-dev .check-item-dev span.title-dev i::before {
	opacity: 0;
}
#graphida .cart .item-dev .check-item-dev.focus span.title-dev i::before,
#graphida .cart .item-dev .check-item-dev.active span.title-dev i::before {
	opacity: 1;
}
#graphida .cart .item-dev .check-item-dev span.des-dev {
	margin-bottom: 15px;
	font-size: 10px;
}
#graphida .cart .item-dev .check-item-dev span.price-dev {
	margin: 0;
	color: #95a5a6;
	font-size: 15px;
	font-weight: bold;
}
#graphida .cart .item-dev .check-item-dev.focus span.title-dev,
#graphida .cart .item-dev .check-item-dev.active span.title-dev,
#graphida .cart .item-dev .check-item-dev.focus span.price-dev,
#graphida .cart .item-dev .check-item-dev.active span.price-dev {
	color: #856071;
}
#graphida  .item-cart {
	margin: 3em 0 5em;
}
#graphida .item-cart ul li {
	position: relative;
}
#graphida .item-cart ul li .btn-del {
	width: 30px;
    height: 30px;
    top: -10px;
    left: 5px;
    padding: 3.5px 7px;
	color: #fff;
    border-radius: 100px;
    position: absolute;
    z-index: 10;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
#graphida .item-cart ul li .btn-del:hover {
	box-shadow: 0 5px 17px 0 rgba(0, 0, 0, .1);
}
#graphida .item-cart .head-item-cart h3 {
	padding: 0 1em 0 0;
	margin: 0;
	margin-bottom: 2em;
	font-size: 20px;
}
#graphida .card-item-cart {
	display: block;
	margin: 0 0 1.5em 0;
	padding: 1em 1em 12px;
	border-radius: 15px;
	position: relative;
}
#graphida .card-item-cart span.off {
    width: 30px;
    height: 30px;
	top: 10px;
    left: 10px;
    padding: 9px 0;
    font-size: 10px;
    border-radius: 100px;
    text-align: center;
    position: absolute;
}
#graphida .card-item-cart span,
#graphida .card-item-cart h2 {
	display: block;
	margin: 0 auto;
}
#graphida .card-item-cart span.thumb {
	width: 100%;
	display: inline;
	margin-bottom: 1em;
	overflow: hidden;
}
#graphida .card-item-cart span.thumb img {
    height: 50px;
    margin: 1em 0;
    margin-left: 1.5em;
    display: block;
    float: right;
    border-radius: 10px;
}
#graphida .card-item-cart h2.title {
	padding: 0;
	margin-bottom: 10px;
	font-size: 12px;
	font-weight: 500;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis; 
}
#graphida .card-item-cart .des-item .status,
#graphida .card-item-cart .des-item .status-b {
	display: inline;
	color: #bdc3c7;
    font-size: 8px;
}
#graphida .card-item-cart .des-item .status {
	margin-left: 1em;
	text-align: right;
}
#graphida .card-item-cart .des-item .status-b {
	text-align: left;
}
#graphida .card-item-cart .price {
	padding-top: 10px;
	margin: 5px 5em 0 0;
    border-top: 1px solid #fafafa;
	font-size: 11px;
	color: #4b2764;
}
#graphida .card-item-cart .price .title-price {
	float: right;
}
#graphida .card-item-cart .price .num-price {
	float: left;
}
#graphida .cart-btn {
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	z-index: 11;
}
#graphida .cart-btn a {
	width: 100%;
    padding: 1em;
    display: block;
    border-radius: 0;
}




/***********************************************************************************
*	CART-FACTOR
***********************************************************************************/
#graphida .cart-factor {
	margin: 2em 0 3em;
}
#graphida .cart-factor .head-txt p {
	font-size: 15px;
}
#graphida .cart-factor .table {
	margin: 1em 0 2em;
	font-size: 13px;
}
#graphida .cart-factor .table thead th {
	border: none;
}
#graphida .cart-factor .table-hover tbody th[scope="row"] {
	color: #bdc3c7;
}
#graphida .cart-factor .table thead th,
#graphida .cart-factor .table tbody td {
	white-space: nowrap;
}
#graphida .cart-factor .table td,
#graphida .cart-factor .table th {
	color: #95a5a6;
	vertical-align: middle !important;
}
#graphida .cart-factor .table tbody tr:nth-child(3) td {
	color: #4CAF50;
	font-weight: bold;
}
#graphida .cart-factor .table tbody tr:nth-child(4) td {
	color: #856071;
	font-weight: bold;
}
#graphida .cart-factor .table tbody tr td:nth-child(2) {
	text-align: center;
}
#graphida .cart-factor .table tbody tr:hover {
	background-color: #fbfbfb !important;
}
#graphida .cart-factor .table-responsive-lg .table-bordered {
	border: 1px solid #dee2e6 !important;
}
#graphida .btn-action {
	margin-top: 2em;
}
#graphida .btn-action .btn {
	width: 100%;
	display: block;
	padding: 10px;
	border-radius: 10px;
}




/***********************************************************************************
*	FAVOURITE
***********************************************************************************/
#graphida .tab-content ul li .btn-del {
	width: 30px;
    height: 30px;
    top: -10px;
    left: 5px;
    padding: 3.5px 7px;
	color: #fff;
    border-radius: 100px;
    position: absolute;
    z-index: 10;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
}
#graphida .tab-content ul li .btn-del:hover {
	box-shadow: 0 5px 17px 0 rgba(0, 0, 0, .1);
}




/***********************************************************************************
*	HISTORY
***********************************************************************************/
#graphida .history {
	margin-bottom: 3em;
}
#graphida .history .history-list {
	margin-top: 2em;
}
#graphida .history .history-list {
	margin-top: 2em;
}
#graphida .history .history-list .cards {
	position: relative;
	margin-bottom: 1em;
}
#graphida .history .history-list .cards:last-child {
	margin: 0;
}
#graphida .history .history-list .cards .lin {
	width: 100%;
	display: block;
	margin-bottom: 10px;
	color: #95a5a6;
	font-size: 13px;
}
#graphida .history .history-list .cards .lin:last-child {
	margin: 0;
}
#graphida .history .history-list .cards .lin i::before {
	margin-left: 10px;
	color: #7f8c8d;
	font-size: 16px;
}
#graphida .history .history-list .cards .status {
	background-color: #FFF;
	top: 10px;
    left: 10px;
	padding: 5px 10px;
	border-radius: 100px;
	font-size: 8px;
	border: none;
	box-shadow: none;
	position: absolute;
}
#graphida .history .history-list .cards .btn-more {
	background-color: #FFF;
	bottom: 10px;
    left: 10px;
	border-radius: 10px;
	font-size: 11px;
	color: #bdc3c7;
	border: 2px solid #ecf0f1;
	box-shadow: none;
	position: absolute;
}
#graphida .history .table-his {
	padding: 2em 1em 1em;
	margin-bottom: 3em;
}
#graphida .history .table-his .head-history h3 {
	padding: 0 1em 0 0;
    margin: 0;
    margin-bottom: 2em;
    font-size: 13px;
}
#graphida .history .table-his .item-cart {
	margin: 3em 0 0;
}
#graphida .history .table-his .btn-status {
	top: 5px;
    left: 20px;
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 8px;
    position: absolute;
    z-index: 10;
}
#graphida .history .head-history-des h3 {
	padding: 0 1em 0 0;
    margin: 0 0 2em 0;
    font-size: 20px;
}
#graphida .history .card-icon {
	width: 100%;
    padding: 1.5em;
    text-align: center;
    display: block;
    border-radius: 15px;
}
#graphida .history .card-icon i::before {
	top: 8px;
	font-size: 32px;
}
#graphida .history  .history-des .cards {
	margin-bottom: 1em;
	text-align: center;
	font-size: 13px;
	color: #95a5a6;
}




/***********************************************************************************
*	PROFILE
***********************************************************************************/
#graphida .profile {
	margin-top: 2em;
}
#graphida .profile .card-profile {
	padding: 2em 0;
	margin-bottom: 3em;
}
#graphida .profile .card-profile span {
	width: 100%;
    display: block;
    text-align: center;
}
#graphida .profile .card-profile .logo {
	background-color: #ecf0f1;
	width: 100px;
	height: 100px;
	display: block;
	margin: 0 auto 10px;
	border-radius: 100%;
	overflow: hidden;
}
#graphida .profile .card-profile .logo img {
	width: 100%;
}
#graphida .profile .card-profile .user-name {
    font-size: 20px;
	font-weight: 500;
}
#graphida .profile .card-profile .user-adrs {
    font-size: 13px;
}

#graphida .form-profile .head-profile h3 {
    padding: 0 1em 0 0;
    margin: 0;
    font-size: 17px;
}
#graphida .form-profile .cards {
	padding: 2em 1em;
	margin-top: 2em;
	margin-bottom: 4em;
	font-size: 13px;
	color: #7f8c8d;
	text-align: center;
}




/***********************************************************************************
*	TICKET
***********************************************************************************/
#graphida .ticket {
	margin: 2em 0 3em;
}
#graphida .ticket .ticket-new .head-txt {
	font-size: 15px;
}
#graphida .ticket .ticket-new .head-txt i::before {
	margin-left: 10px;
	color: #95a5a6;
	font-size: 16px;
}
#graphida .ticket .ticket-new form {
	margin-top: 4em;
}
#graphida .ticket .ticket-new form button {
	width: 100%;
	display: block;
	padding: 10px;
	border-right: 10px;
}

#graphida .ticket .ticket-list {

}
#graphida .ticket .ticket-list .title-tic {
	padding: 0;
    margin: 0 0 1.5em 5em;
    font-size: 13px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#graphida .ticket .ticket-list .cards {
	position: relative;
}
#graphida .ticket .ticket-list .status-b {
	display: block;
	margin-bottom: 8px;
    color: #bdc3c7;
    font-size: 10px;
}
#graphida .ticket .ticket-list .status-b.markets {
	margin: 0 0 0 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
#graphida .ticket .ticket-list .status-b i::before {
    top: 0px;
	margin-left: 5px;
	color: #bdc3c7;
    font-size: 12px;
}
#graphida .ticket .ticket-list .status {
	background-color: transparent;
    bottom: 10px;
    left: 10px;
    padding: 5px 1em;
    font-size: 12px;
    border: 2px solid #ecf0f1;
    position: absolute;
    color: #ecf0f1;
    border-radius: 10px;
}
#graphida .ticket .ticket-list .status-off {
	background-color: #ecf0f1;
    bottom: 10px;
    left: 10px;
    padding: 5px 1em;
    font-size: 12px;
    border: 2px solid #ecf0f1;
    position: absolute;
    color: #bdc3c7;
    border-radius: 10px;
}
#graphida .ticket .ticket-list .status i {
	background-color: #f44336;
	width: 5px;
	height: 5px;
    margin-left: 10px;
	display: inline-block;
	border-radius: 100%;
	color: #f44336;
    font-size: 7px;
	animation: glow .5s infinite alternate;
}

@keyframes glow {
    50% {
		box-shadow: 0 0 0 3px rgba(244,67,54,.3);
    }
    100% {
		box-shadow: 0 0 0 3px rgba(244,67,54,.3),
					0 0 0 6px rgba(244,67,54,.1);
    }
}

#graphida .ticket .ticket-list .new-msg {
	top: 10px;
    left: 10px;
    padding: 3px 5px 0;
    border-radius: 5px;
    font-size: 10px;
    text-align: center;
    position: absolute;
}
#graphida .ticket .ticket-list .new-msg i::before {
    top: 3px;
	margin-right: 3px;
    font-size: 16px;
}
#graphida .ticket .ticket-view {
	margin-top: 3em;
}
#graphida .ticket .ticket-view .tickets-list {
	width: 100%;
	display: block;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container {
	margin-bottom: 3em;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container:last-child {
	margin-bottom: 10em;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-header {
	margin-bottom: 1em;
	overflow: hidden;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-header .avatar img {
	width: 35px;
	height: 35px;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container.user .user-ticket-header .avatar img {
	margin-left: 1em;
	float: right;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container.market .user-ticket-header .avatar img {
	margin-right: 1em;
	float: left;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container.market .user-ticket-header .avatar span {
	text-align: left;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-header .avatar span {
	display: block;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-header .avatar span.user-name {
	margin-bottom: 3px;
	font-size: 13px;
	font-weight: bold;
	color: #7f8c8d;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-header .avatar span.user-medal {
	font-size: 9px;
	color: #bdc3c7;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content {
	padding: .7em 1em 1em;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content .head-ticket-content {
	margin-bottom: 1.5em;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content .head-ticket-content span.user-date {
	font-size: 9px;
	color: #bdc3c7;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content .head-ticket-content span.user-date i::before {
	margin-left: 5px;
	font-size: 14px;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content .head-ticket-content .user-pm-spam {
	padding: 2px 5px 2px 7px;
    font-size: 10px;
    border-radius: 100px;
	color: #fff;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content .head-ticket-content .user-pm-spam i::before {
	top: 2.5px;
    margin-left: 5px;
    font-size: 13px;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content .head-ticket-content span.pm-tick i::before {
	top: 3px;
	margin-left: 1em;
	font-size: 16px;
	color: #bdc3c7;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content .head-ticket-content .check span.pm-tick i::before {
	color: #856071;
}
#graphida .ticket .ticket-view .tickets-list .ticket-container .user-ticket-content p {
	padding: 0;
	margin: 0;
	font-size: 13px;
	color: #bdc3c7;
}
#graphida .ticket .ticket-view .ticket-new {
	background-color: #fff;
	width: 100%;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 5px;
	border-top: 2px solid #f0f0f0;
	position: fixed;
	box-shadow: 0 -7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .ticket .ticket-view .ticket-new form {
	margin: 0;
}
#graphida .ticket .ticket-view .ticket-new input {
	background-color: #FFF;
	padding: 1em 10px;
	border-radius: 10px;
	border: none;
	box-shadow: none;
}
#graphida .ticket .ticket-view .ticket-new input::-moz-placeholder {
    font-size: 13px;
	color: #95a5a6 !important;
}
#graphida .ticket .ticket-view .ticket-new input::-webkit-input-placeholder {
    font-size: 13px;
	color: #95a5a6 !important;
}
#graphida .ticket .ticket-view .ticket-new input:-ms-input-placeholder {
    font-size: 13px;
	color: #95a5a6 !important;
}
#graphida .ticket .ticket-view .ticket-new button[type=submit] {
	background-color: transparent;
	width: 100%;
	display: block;
	padding: 1em 0;
	box-shadow: none;
	border: none;
}
#graphida .ticket .ticket-view .ticket-new button[type=submit] i::before {
    top: 8px;
	font-size: 24px;
	color: #4b2764;
}




/***********************************************************************************
*	LOGIN
***********************************************************************************/
#graphida .login {
	width: 100vw;
	height: 100vh;
	padding: 2em 0 0;
	position: relative;
}
.bg-tl {
	background: url(../img/04a.svg) no-repeat center center;
	transition: 0.2s;
}
.bg-ver {
	background: url(../img/04b.svg) no-repeat center center;
	transition: 0.6s;
}
#graphida .login .pc-log {
	width: 150px;
	height: 150px;
	display: block;
	margin: 0 auto 3em;
}
#graphida .login .head-txt {
	margin-bottom: 4em;
}
#graphida .login form .form-group input {
	margin-bottom: 2em;
}
#graphida .login form .btn-ok,
#graphida .login form .btn-pre,
#graphida .login form .btn-next {
	width: 50px;
	height: 50px;
	bottom: -25px;
	left: 50px;
	padding: 0;
	border: none;
	color: #95a5a6;
	box-shadow: none;
	border-radius: 100px;
	position: absolute;
}
#graphida .login form .btn-pre {
	bottom: -25px;
	right: 50px;
}
#graphida .login form .btn-ok {
	bottom: -25px;
	left: 50px;
	color: #FFF;
}
#graphida .login form .btn i::before {
	padding: 25px 17px;
	top: 0;
}

.flip-container {
	perspective: 1000px;
	-webkit-perspective: 1000px;
	-moz-perspective: 1000px;
	transition: 0.2s;
}
.flip-container.flipper {
	transform: rotateY(180deg);
}
.flip-container, .front, .back {
	width: 100%;
	height: 180px;
	border-radius: 15px;
}
.front, .back {
	background-color: #fff;
	padding: 1em;
	box-shadow: 0 15px 50px 10px rgba(0,0,0,.2);
}
.flipper {
	transition: 0.6s;
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	transform-style: preserve-3d;
	position: relative;
}
.front, .back {
	backface-visibility: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.front {
	z-index: 2;
	transform: rotateY(0deg);
}
.back {
	transform: rotateY(180deg);
}




















/***********************************************************************************
*	MEDIAQUERIES
***********************************************************************************/
@media (max-width: 330px) {
	.navbar .navbar-tab .market-pro span {
		padding: 3px 0 !important;
	}
}

@media (max-width: 380px) {
	.navbar .navbar-tab .market-pro span {
		padding: 6px 0;
	}
	.navbar .navbar-tab .market-pro .item-adrs {
		margin-top: 10px;
	}
	
}

@media (max-width: 400px) {
	
	#graphida .card-item span.thumb img {
		width: 70%;
	}
	#graphida .card-item span.off {
		width: 25px;
		height: 25px;
		padding: 7px 0;
		font-size: 9px;
	}
	#graphida .card-market span.thumb {
		width: 90px;
		height: 80px;
		margin-left: 10px;
	}
	#graphida .card-market img {
		height: -webkit-fill-available;
		height: -moz-fill-available;
		margin: 0 auto;
	}
	#graphida .card-market h1.title {
		margin: 10px 0;
		font-size: 13px;
	}
	#graphida .card-market span.star-item {
		margin-top: 5px;
	}
	#graphida .card-market span.star-item i::before {
		font-size: 20px;
	}
	
	
	
	
	
}

@media (max-width: 550px) {
	#content .navbar .dt {
		display: none;
	}
	#graphida .head .btn-action a {
		width: 100%;
		display: block;
		margin-bottom: 1em;
	}

}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
		overflow: hidden;
    }
    #sidebarCollapse span {
        display: none;
    }

}

@media (max-width: 1024px) {
}













