/*
*
*	=========================================================
*	Theme Name: 	GraphiDA
*	Theme URI: 		http://graphida.ir
*	Author:			@GraphiDA	[ +(98)937-676-4848 ]
*	Description:	Please DON'T COPY Or RIP This Theme.
*	Version:		1.0.0
*	=========================================================
*
*/

* {
	text-decoration: none !important;
	outline: none !important;
}
body {
	background-color: #f9fafb !important;
	padding: 0;
	margin: 0;
	font-family: "sans", Roboto !important;
	direction:rtl;;
	text-align: right !important;
	color: #34495e !important;
}
@font-face {
	font-family: 'sans';
	src: url(../fonts/sans/IRANSans.woff2) format("woff2"), url(../fonts/sans/IRANSans.woff) format("woff");
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'sans';
	src: url(../fonts/sans/IRANSans_Medium.woff2) format("woff2"), url(../fonts/sans/IRANSans_Medium.woff) format("woff");
	font-style: normal;
	font-weight: 500;
}
@font-face {
	font-family: 'sans';
	src: url(../fonts/sans/IRANSans_Bold.woff2) format("woff2"), url(../fonts/sans/IRANSans_Bold.woff) format("woff");
	font-style: normal;
	font-weight: 700;
}

/***********************************************************************************
*	CUSTOM
***********************************************************************************/

/*********************		SELECTION		*********************/
::-moz-selection {
	background: #856071 !important;
	color:#fff !important;
}
::-webkit-selection {
	background: #856071 !important;
	color:#fff !important;
}
::selection {
	background: #856071 !important;
	color: #fff !important;
}

/*********************		SCROLLBAR		*********************/
::-webkit-scrollbar {
	background-color: transparent;
	max-width: 8px;
}
::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb {
	background-color: #4b2764;
	border-radius: 100px;
}

/*********************		PLACEHOLDER		*********************/
::-moz-placeholder {
    font-size: 13px;
	color: #ecf0f1 !important;
}
::-webkit-input-placeholder {
    font-size: 13px;
	color: #ecf0f1 !important;
}
:-ms-input-placeholder {
    font-size: 13px;
	color: #ecf0f1 !important;
}

/*********************		CUSTOM		*********************/
#graphida ul {
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.mdi:before, .mdi-set {
	line-height: 0 !important;
    top: 2px !important;
    position: relative !important;
}
.line {
    width: 100%;
    height: 2px;
    border-radius: 10px;
    background: #ecf0f1;
    margin: 1em 0 3em;
}




/*********************		ALERT		*********************/
#graphida .alert {
	padding-right: .5em !important;
	padding-left: 4em !important;
	border: none !important;
	opacity: .3;
	border-radius: 10px !important;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida .alert:hover {
	opacity: 1;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .15);
}
#graphida .alert strong {
	background-color: rgba(0,0,0,.07);
	padding: .3em 1em;
	border-radius: 8px;
	margin-left: 2em;
}
#graphida .alert button {
	width: 25px;
    height: 25px;
    right: auto;
    left: 0;
    padding: 0 !important;
    transform: translate(50%, 50%);
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida .alert button:hover {
	color: #fff;
	opacity: 1;
}


/*********************		FORM		*********************/
#graphida form {
	margin: .5em auto 0;
	display: block;
}
#graphida form .form-group {
	position: relative;
}
#graphida form .form-group label {
	background-color: #ecf0f1;
    padding: 2px 1em;
	top: -12px;
    right: 12px;
    font-size: 13px;
	border-radius: 5px;
	position: absolute;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .form-group input {
	background-color: #FFF;
	padding: 1em 2em .3em .5em;
	border-radius: 10px !important;
	border: 2px solid #ecf0f1;
	box-shadow: none !important;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form i::before {
	position: absolute !important;
    top: 30px !important;
    right: 12px;
	color: #bdc3c7;
}
#graphida form .form-group input:focus {
	border: 2px solid #4b2764;
}
#graphida form .form-group input:focus + label {
	background-color: #4b2764;
	color: #fff;
}
#graphida form .form-group textarea {
	background-color: #FFF;
	padding: 1em .5em .5em;
	margin-bottom: 2.5em;
	border-radius: 10px !important;
	border: 2px solid #ecf0f1;
	box-shadow: none !important;
	resize: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .form-group textarea:focus {
	border: 2px solid #4b2764;
}
#graphida form .form-group textarea:focus + label {
	background-color: #4b2764;
	color: #fff;
}
#graphida form button {
    display: block;
    border: none;
    cursor: pointer;
}

/*********************		AVATAR		*********************/
#graphida .avatar-upload {
	width: 100%;
	margin-bottom: 1em;
	position: relative;
}
#graphida .modal .avatar-upload {
	margin-top: 2em;
	margin-bottom: 0;
}

#graphida .avatar-upload .avatar-preview {
	width: 200px;
    height: 200px;
	margin: 0 auto 2em;
    position: relative;
    border-radius: 100%;
}
#graphida .avatar-upload .avatar-preview > div {
	background-color: #4b2764;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 100%;
	display: block !important;
	border-radius: 100%;
    border: 5px solid #ecf0f1;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .avatar-upload .avatar-edit {
	z-index: 1;
}
#graphida .avatar-upload .avatar-edit input {
	display: none;
}
#graphida .avatar-upload .avatar-edit input + label {
	width: fit-content;
	width: -moz-fit-content;
	margin: 0 auto;
	display: block;
	color: #fff;
	cursor: pointer;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida .avatar-upload .avatar-edit i::before {
	margin-left: .5em;
}
#graphida .avatar-upload .avatar-edit input + label:hover {
	background-color: #95a5a6;
	color: #FFF;
}
#graphida .avatar-upload .avatar-edit input + label:after {
}


/*********************		CARDS		*********************/
#graphida .cards {
	background-color: #fff;
	width: 100%;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 10px;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
}
#graphida .cards.trans {
	background-color: transparent;
	padding: 1em;
	margin-bottom: 2em;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: none;
}
#graphida .cards.trans span {
	text-align: center;
}
#graphida .cards.trans span p {
	padding: 0;
	margin: 0;
}
#graphida .cards.trans span p.num {
	width: fit-content;
	width: -moz-fit-content;
    margin: 0 auto;
	color: #95a5a6;
    font-size: 30px;
    font-weight: bold;
}
#graphida .cards.trans span p.title {
	width: fit-content;
	width: -moz-fit-content;
    margin: 0 auto;
    color: #bdc3c7;
    font-size: 20px;
}
#graphida .cards.halfy span {
    width: 60%;
	float: right;
}
#graphida .cards.halfy span p {
	padding: 0;
	margin: 0;
}
#graphida .cards.halfy span p.num {
	width: fit-content;
	width: -moz-fit-content;
    margin: 0 auto;
	color: #4b2764;
    font-size: 50px;
    font-weight: bold;
}
#graphida .cards.halfy span p.title {
	width: fit-content;
	width: -moz-fit-content;
    margin: 0 auto;
    color: #bdc3c7;
    font-size: 20px;
}
#graphida .cards.halfy .icon {
    width: 40%;
	margin: 12px auto;
    display: flex;
    float: left;
}
#graphida .cards.halfy .icon span {
	background-color: #95a5a6;
	width: 80px;
	height: 80px;
	margin: 0 auto;
	border-radius: 100%;
}
#graphida .cards.halfy .icon span i::before {
	width: fit-content;
	width: -moz-fit-content;
    height: fit-content;
	height: -moz-fit-content;
    margin: 38px auto;
    display: block;
	color: #FFF;
    font-size: 40px;
}
#graphida .cards.smally span {
    width: 100%;
	text-align: center;
}
#graphida .cards.smally span p {
	padding: 0;
	margin: 0;
}
#graphida .cards.smally span p.num {
	width: fit-content;
	width: -moz-fit-content;
    margin: 0 auto;
	color: #4b2764;
    font-size: 30px;
    font-weight: bold;
}
#graphida .cards.smally span p.num small {
	font-size: 15px;
	color: #856071;
}
#graphida .cards.smally span p.title {
	width: fit-content;
	width: -moz-fit-content;
    margin: 0 auto;
    color: #bdc3c7;
    font-size: 15px;
}

/*********************		BTNS		*********************/
.btns {
	padding: .3em 1em;
	border-radius: 10px !important;
	text-decoration: none !important;
	outline: none !important;
	border: none !important;
	box-shadow: none !important;
	cursor: pointer;
}
.bg-red,
.bg-red:hover {
	background-color: #e74c3c;
	color: #fff;
}
.txt-red {
	color: #e74c3c !important;
}
.bg-orange,
.bg-orange:hover {
	background-color: #f39c12;
	color: #fff;
}
.txt-orange {
	color: #f39c12 !important;
}
.bg-blue,
.bg-blue:hover {
	background-color: #3498db;
	color: #fff;
}
.txt-blue {
	color: #3498db !important;
}
.bg-green,
.bg-green:hover {
	background-color: #2ecc71;
	color: #fff;
}
.txt-green {
	color: #2ecc71 !important;
}
.bg-grey-1,
.bg-grey-1:hover {
	background-color: #ecf0f1;
	color: #fff;
}
.txt-grey-1 {
	color: #ecf0f1 !important;
}
.bg-grey-2,
.bg-grey-2:hover {
	background-color: #bdc3c7;
	color: #fff;
}
.txt-grey-2 {
	color: #bdc3c7 !important;
}
.bg-grey-3,
.bg-grey-3:hover {
	background-color: #95a5a6;
	color: #fff;
}
.txt-grey-3 {
	color: #95a5a6 !important;
}
.bg-grey-4,
.bg-grey-4:hover {
	background-color: #7f8c8d;
	color: #fff;
}
.txt-grey-4 {
	color: #7f8c8d !important;
}
.bg-kushop,
.bg-kushop:hover {
	background: -moz-linear-gradient(45deg, #4b2764 0%, #856071 100%);
	background: -webkit-linear-gradient(45deg, #4b2764 0%,#856071 100%);
	background: linear-gradient(45deg, #4b2764 0%,#856071 100%);
	color: #fff;
}

/*********************		MODAL		*********************/
.modal{
	direction: ltr;
	border-radius: 10px;
}

.modal.show .modal-content {
	direction: rtl;
	border-radius: 10px;
	box-shadow: 0 10px 35px -2px rgba(0, 0, 0, .3);
}
.modal.show .modal-footer,
.modal.show .modal-header {
	border: none;
	color: #4b2764;
	position: relative;
}
.modal.show .modal-header button {
	width: 25px;
    height: 25px;
	left: 15px;
    top: 35px;
	position: absolute;
    padding: 0 !important;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
.modal.show .modal-header button:hover {
	opacity: 1;
}
.modal.show .modal-body {
	padding: 4em 2em;
}
.modal.show .modal-footer {
	display: block;
	border: none;
}
.modal.show .modal-footer a.btn-ok {
	float: right;
}
.modal.show .modal-footer a.btn-close {
	float: left;
}





/***********************************************************************************
*	INDEX
***********************************************************************************/
.wrapper {
    display: flex;
    align-items: stretch;
}

/*********************		SIDEBAR		*********************/
#sidebar {
	background-color: #FFF;
    width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -300px;
    z-index: 999;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
	box-shadow: 0 0 60px rgba(0, 0, 0, 0.2);
}
#sidebar.active {
    right: 0;
	direction: ltr;
}
.overlay {
    background: rgba(0, 0, 0, 0.7);
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    z-index: 998;
}
#sidebar .sidebar-header {
	background: #4b2764 url(../img/bg-mnu.jpg) 40% no-repeat;
	background-size: cover;
    padding: 1em 0;
	border-radius: 0 0 300% 300% / 0 0 60% 60%;
}
#sidebar .sidebar-header .logo {
	width: 100px;
	display: block;
	margin: 1em auto;
	border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 0 5px 20px rgba(0,0,0,.4);
    overflow: hidden;
}
#sidebar .sidebar-header .logo img {
	width: 100%;
}
#sidebar .sidebar-header span {
	text-align: center;
}
#sidebar .sidebar-header span p {
	padding: 0 !important;
	margin: 0 !important;
	font-size: 13px;
	color:#ecf0f1;
}
#sidebar .sidebar-header span p:first-child {
	font-weight: bold;
	font-size: 18px;
	color:#FFF;
}
#sidebar .sidebar-header span p:last-child {
	direction: ltr;
}
#sidebar ul.components {
	background-color: #FFF;
    padding: 20px 0;
	direction: rtl;
}
#sidebar ul p {
    color: #fff;
    padding: 10px;
}
#sidebar ul li a {
    padding: 1em 1.5em;
    display: block;
	color: #aaaaaa;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a i.icon-itm::before{
	margin-left: 1em;
	color: #7f8c8d;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a:hover i.icon-itm::before,
#sidebar ul li.active i.icon-itm::before,
#sidebar ul li a[aria-expanded="true"] i.icon-itm::before{
	color: #856071;
}
#sidebar ul li a:hover,
#sidebar ul li.active > a,
#sidebar ul li a[aria-expanded="true"] {
    background-color: #fbfbfb;
    padding-right: 2em !important;
    color: #4b2764;
}
#sidebar ul li a[data-toggle="collapse"] {
    position: relative;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a[aria-expanded="false"]::before,
#sidebar ul li a[aria-expanded="true"]::before {
    content: '\F140';
    display: block;
    position: absolute;
    left: 20px;
    font-family: 'Material Design Icons';
    font-size: 18px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#sidebar ul li a[aria-expanded="true"]::before {
	transform: rotate(180deg);
}

#sidebar ul li > ul li a {
    background-color: #fbfbfb !important;
    padding-right: 2em !important;
	font-weight: normal !important;
}
#sidebar ul li > ul li a:hover,
#sidebar ul li > ul li a.active,
#sidebar ul li > ul li a[aria-expanded="true"] {
    background-color: #f0f0f0 !important;
    padding-right: 2.5em !important;
    color: #4b2764 !important;
}

/*********************		CONTENT		*********************/
#content {
	background-color: #f9fafb;
	width: 100%;
    min-height: 100vh;
    transition: all 0.3s;
	z-index: 10;
}

/*********************		NAVBAR		*********************/
#content .navbar {
    background: #fff;
    padding: 1em 0 !important;
    border: none;
    border-radius: 10px;
    margin: 1em 1em 3em;
	box-shadow: 0 7px 17px -3px rgba(0, 0, 0, .05);
}
#content .navbar-btn {
	background: -moz-linear-gradient(45deg, #4b2764 0%, #856071 100%);
	background: -webkit-linear-gradient(45deg, #4b2764 0%,#856071 100%);
	background: linear-gradient(45deg, #4b2764 0%,#856071 100%);
    box-shadow: none;
    outline: none !important;
    border: none;
}
#content .navbar .dt {
	color: #bdc3c7;
}
#content .navbar .dt i::before {
	margin: 0 1em;
}
#content .navbar .logout {
	padding: .3em 1em;
	color: #fff;
}
#content .navbar .logout i::before {
	margin-left: .5em;
}


/***********************************************************************************
*	PROFILE
***********************************************************************************/
#content.profile form {
	width: fit-content;
	width: -moz-fit-content;
}
#content.profile form button {
	padding: .5em 2em;
    margin: 3em auto 0;
}
#content.profile .cards h2 {
	margin-bottom: 3em;
	display: block;
	font-size: 15px;
	text-align: center;
    color: #bdc3c7;
}

/***********************************************************************************
*	TABLE
***********************************************************************************/
#graphida .table {
	margin: 1em 0;
}
#graphida .head {
    margin: 1em .5em 4em;
}
#graphida .head h2 {
	font-size: 20px;
    color: #bdc3c7;
}
#graphida .head .btn-action {
	float: left;
	color: #fff;
}
#graphida .head .btn-action .btn-new {
	cursor: cell;
}
#graphida .head .btn-action a:hover,
#graphida .head .btn-action a:focus {
	color: #fff;
}
#graphida .head .btn-action a i::before {
	margin-left: .5em;
}
#graphida .table thead th {
	border: none;
	color: #4b2764;
}
#graphida .table-hover tbody th[scope="row"] {
	color: #bdc3c7;
}
#graphida .table thead th,
#graphida .table tbody td {
	white-space: nowrap;
}
#graphida .table td,
#graphida .table th{
	vertical-align: middle !important;
}
#graphida .table-hover tbody tr:hover {
	background-color: #fbfbfb !important;
}
#graphida .table-hover tbody td.status {
	color: #bdc3c7;
}
#graphida .table-hover tbody .form-group,
#graphida .table-hover tbody .form-group input {
	margin: 0 !important;
}
#graphida .table-hover tbody .form-group input {
	padding: .5em 1em !important;
}
#graphida .table tbody td img {
	width: 20px;
}
#graphida .table tbody td ul li {
	display: inline;
	position: relative;
}
#graphida .table tbody td ul li a {
	font-size: 14px;
    margin-left: 2em;
}
#graphida .table tbody td ul li::after {
	content: '|';
    display: block;
    position: absolute;
    left: 10px;
    top: 3px;
    color: #ecf0f1;
    font-size: 18px;
}
#graphida .table tbody td ul li:last-child::after {
    display: none;
}
#graphida .table tbody td ul li:last-child a {
    margin: 0;
}
#graphida .table .custom-control-label::after,
#graphida .table .custom-control-label::before {
	top: -10px !important;
	left: -20px !important;
	box-shadow: none !important;
	cursor: pointer;
}
#graphida .table-responsive-lg .table-bordered{
	border: 1px solid #dee2e6 !important;
}


/*********************		FORM-NEW-MARKET		*********************/
#graphida .modal form .form-group input {
	padding: 1em .5em .3em;
	margin-bottom: 2.5em;
}
#graphida form .dropdown {
	margin-bottom: 3em;
}
#graphida form .dropdown .card-body {
	padding: 0 1em;
    margin-top: 5px;
    border-radius: 10px;
    border: 2px solid #ecf0f1;
}
#graphida form .dropdown button:focus,
#graphida form .dropdown button {
	background-color: #ecf0f1;
	width: 100%;
	padding: .775em 1em;
    display: block;
    text-align: right;
	color: #856071;
	border-radius: 10px;
	box-shadow: none;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .dropdown button[aria-expanded="false"]::after,
#graphida form .dropdown button[aria-expanded="true"]::after {
    display: none;
}
#graphida form .dropdown button[aria-expanded="false"]::before,
#graphida form .dropdown button[aria-expanded="true"]::before {
    content: '\F140';
    display: block;
    position: absolute;
    left: 10px;
    font-family: 'Material Design Icons';
    font-size: 18px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .dropdown button[aria-expanded="true"]::before {
	transform: rotate(180deg);
}
#graphida form .dropdown button[aria-expanded="true"],
#graphida form .dropdown button:hover {
	background-color: #4b2764;
	color: #fff;
}
#graphida form .dropdown .dropdown-menu {
	background-color: #4b2764;
	width: 100%;
	top: 49px !important;
    padding: 1em;
    border-radius: 10px;
	border: none;
     transform: translate3d(0,0,0) !important;
	box-shadow: 0 10px 20px -3px rgba(0, 0, 0, .2);
}
#graphida form .dropdown .dropdown-menu a {
	padding: .3em 1em;
	margin-bottom: 5px;
    text-align: right;
	color: #fff;
    border-radius: 5px;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#graphida form .dropdown .dropdown-menu a:last-child {
	margin: 0;
}
#graphida form .dropdown .dropdown-menu a:focus,
#graphida form .dropdown .dropdown-menu a:hover {
	background-color: #fff;
	color: #4b2764;
	padding-right: 2em;
}

/***********************************************************************************
*	PRODUCTS
***********************************************************************************/
#content.products-edit .cards h2,
#content.products-new .cards h2 {
	margin-bottom: 5em;
	display: block;
	font-size: 15px;
	text-align: center;
    color: #bdc3c7;
}
#content.products-edit form .form-group input,
#content.products-new form .form-group input {
	margin-bottom: 2.5em;
}
#content.products-edit button[type="submit"],
#content.products-new form button[type="submit"] {
	padding: .5em 2em;
    margin: 3em auto 2em;
}


/***********************************************************************************
*	TICKET
***********************************************************************************/
#content.ticket-message .head .btn-action {
	width: 100%;
}
#content.ticket-message .head {
    margin: 1em .5em 3em;
}
#content.ticket-message .head h2 {
	margin: 0;
    padding: .62em 0;
    font-size: 20px;
    color: #bdc3c7;
}
#content.ticket-message .head .btn-action form .dropdown,
#content.ticket-message .head .btn-action form {
	margin: 0;
}
#content.ticket-message .des-message {
    color: #bdc3c7;
}
#content.ticket-message .des-message span {
	background-color: #FFF;
	display: block;
	text-align: center;
    border-radius: 10px;
}
#content.ticket-message .cards-border {
	background-color: transparent;
	padding: 2em;
    margin-top: 5px;
	margin-bottom: 3em;
    border-radius: 10px;
    border: 2px solid #ecf0f1;
}
#content.ticket-message .cards-border .mesaages {
	margin: 3em 0;
}
#content.ticket-message .cards-border .mesaages:first-child {
	margin: 0 0 3em;
}
#content.ticket-message .cards-border .mesaages .title {
	padding: .5em 1em 1em;
    margin-bottom: 2em;
	border-bottom: 2px solid #fafafa;
}
#content.ticket-message .cards-border .title i::before {
	margin-left: .5em;
}
#content.ticket-message .cards-border .mesaages .title span:first-child {
	font-weight: bold;
}
#content.ticket-message .cards-border .mesaages .text-message {
	margin: 0 1em;
}

#content.ticket-message .cards-border .line {
	margin: 2em 0;
}
#content.ticket-message .cards-border .comment-text {
}

#content.ticket-message .cards-border .comment-text textarea {
	padding: 1em;
	resize: vertical;
}


/***********************************************************************************
*	ORDER
***********************************************************************************/
#content.order-details .cards h2 {
	margin-bottom: 4em;
	display: block;
	font-size: 20px;
	text-align: center;
    color: #bdc3c7;
}
#content.order-details .card {
	border-radius: 10px;
	margin-bottom: 2em;
	transition: all 0.3s;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
}
#content.order-details .card.adrs {
	margin-bottom: 1em;
}
#content.order-details .card:hover {
	box-shadow: 0 16px 20px -10px rgba(0, 0, 0, .1);
}
#content.order-details .card blockquote p,
#content.order-details .card blockquote p a {
	font-size: 15px;
	color: #FFF;
}
#content.order-details .card .blockquote-footer {
	background-color: #FFF;
    padding: .3em 0;
    border-radius: 5px;
}
#content.order-details .card .blockquote-footer::before {
	display: none;
}







/***********************************************************************************
*	MEDIAQUERIES
***********************************************************************************/
@media (max-width: 550px) {
	#content .navbar .dt {
		display: none;
	}
	
	#graphida .head .btn-action a {
		width: 100%;
		display: block;
		margin-bottom: 1em;
	}
	
	#content.ticket-message .cards-border .mesaages .title span {
		margin: 0 auto;
		display: block;
		float: none !important;
		text-align: center;
	}
	#content.ticket-message .cards-border .mesaages .title span:first-child {
		margin-bottom: 2em;
	}
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
		overflow: hidden;
    }
    #sidebarCollapse span {
        display: none;
    }
	
	#content.profile form .form-group input {
		padding: 1em .5em .3em;
		margin-bottom: 2.5em;
	}
	#content.products-new .avatar-upload,
	#content.products-edit .avatar-upload,
	#content.profile .avatar-upload {
		margin-bottom: 5em;
	}
	#content.products .head h2,
	#content.ticket .head h2,
	#content.ticket-message .head h2,
	#content.market .head h2 {
		text-align: center;
		margin-bottom: 2em;
	}
	#graphida .head .btn-action {
		width: fit-content;
		width: -moz-fit-content;
		float: none;
		margin: 0 auto;
		text-align: center;
	}

	#content.ticket-message .des-message {
		display: block;
		margin-bottom: 1em;
	}
	

	::-webkit-scrollbar {
		display: none;
	}
	::-webkit-scrollbar-thumb {
		display: none;
	}
	::-webkit-scrollbar-thumb:hover {
		display: none;
	}
}

@media (max-width: 1024px) {
	#content .cards.halfy span {
		width: 100%;
		float: none;
	}
	#content .cards.halfy span p.num {
		font-size: 40px;
	}
	#content .cards.halfy span p.title {
		font-size: 15px;
	}
	#content .cards.halfy .icon {
		display: none;
	}
}


/*********************		BOTTOM-BAR		*********************/











